@page "/dettagliolavoratore/id={id}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Microsoft.Extensions.Logging
@using System.Text.Json.Serialization
@using MudBlazor
@using System.Text
@using System.Net.Http;
@using System.Threading.Tasks;
@using System.Web;
@inject IJSRuntime JSRuntime
@inject IJSRuntime iJSRuntime
@inject IJSRuntime JS
@inject IAccessTokenProvider TokenProvider
@inject IHttpClientFactory ClientFactory
@inject ILogger<FetchSedi> logger
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject NavigationManager Navigation

@if (contatti?.value?.Length > 0)
{
    <div style="display: flex; align-items: center; height: 40px;">
        <button @onclick="GoBack" style="display: flex; align-items: center; justify-content: center; height: 90%; min-width: 40px; padding: 0; background: #E53935; border: none; border-radius: 5px;">
            <i class="fas fa-arrow-left" style="font-size: 16px; color: white;"></i>
        </button>
        <h3 style="margin: 0;margin-left:16px ; line-height: 40px;">@contatti.value[0].cr4f9_cognome @contatti.value[0].cr4f9_nome</h3>
    </div>


    <MudTabs Elevation="2" Rounded="true" Class="my-6">

        <MudTabPanel Icon="@Icons.Material.Filled.Person" Text="Anagrafica">
            <div class="folder-container">
                <!-- Linguetta della cartella -->
                <div class="folder-tab">
                    Lavoratore @contatti.value[0].cr4f9_cognome @contatti.value[0].cr4f9_nome
                </div>

                <div class="folder-section">
                    <div class="course-info">
                        <MudTextField @bind-Value="@contatti.value[0].cr4f9_codicefiscale" Label="Codice Fiscale" Variant="Variant.Outlined"></MudTextField>
                    </div>

                    <div class="course-info">
                        <MudDatePicker @bind-Date="SelectedDate" Label="Data di nascita" Format="dd/MM/yyyy" ReadOnly="true"/>
                    </div>

                    <div class="course-info">
                        <MudTextField @bind-Value="@contatti.value[0].cr4f9_luogodinascita" Label="Luogo di nascita" Variant="Variant.Outlined"></MudTextField>
                    </div>

                    <div class="course-info">
                        <MudTextField @bind-Value="@contatti.value[0].cr4f9_provinciadinascita" Label="Provincia di nascita" Variant="Variant.Outlined"></MudTextField>
                    </div>

                    <div class="course-info">
                        <MudTextField @bind-Value="@contatti.value[0].cr4f9_nazionalita" Label="Nazionalità" Variant="Variant.Outlined"></MudTextField>
                    </div>

                    <div class="course-info">
                        <MudTextField @bind-Value="@contatti.value[0].cr4f9_telefonoprincipale" Label="Telefono principale" Variant="Variant.Outlined"></MudTextField>
                    </div>

                    <div class="course-info">
                        <MudTextField @bind-Value="@contatti.value[0].cr4f9_emailprincipale" Label="Email principale" Variant="Variant.Outlined"></MudTextField>
                    </div>
                </div>
            </div>
        </MudTabPanel>

        <MudTabPanel Icon="@Icons.Material.Filled.Place" Text="Mansioni e Sedi">

            <div class="folder-container">
                <!-- Linguetta della cartella -->
                <div class="folder-tab">
                    Lavoratore @contatti.value[0].cr4f9_cognome @contatti.value[0].cr4f9_nome
                </div>
                <MudTable Items="mansioni.value" Dense="true" HeaderClass="mud-table-header" Hover="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Mansioni e Sedi</MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Mansione, object>(x=>x.sede)">Sede</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Mansione, object>(x=>x.mansione)">Mansione</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Mansione, object>(x=>x.cr4f9_inforza)">In Forza</MudTableSortLabel></MudTh>
                    </HeaderContent>
                    <RowTemplate Context="mansioni">
                        <MudTd DataLabel="Località">@mansioni.sede</MudTd>
                        <MudTd DataLabel="Mansione">@mansioni.mansione</MudTd>
                        <MudTd DataLabel="In Forza">@((mansioni.cr4f9_inforza) ? "Sì" : "No")</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{10, 20}" />
                    </PagerContent>
                </MudTable>
            </div>

        </MudTabPanel>

        <MudTabPanel Icon="@Icons.Material.Filled.School" Text="Corsi sostenuti">

            <div class="folder-container">
                <!-- Linguetta della cartella -->
                <div class="folder-tab">
                    Lavoratore @contatti.value[0].cr4f9_cognome @contatti.value[0].cr4f9_nome
                </div>

                <MudTable Items="partecipazioni.value" Dense="true" HeaderClass="mud-table-header" Hover="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Partecipazioni a Praevenio</MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Partecipazione, object>(x=>x.cr4f9_corsotipo)">Tipo Corso</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Partecipazione, object>(x=>x.titolo)">Titolo Corso</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Partecipazione, object>(x=>x.dataFineCorso)">Data Conclusione</MudTableSortLabel></MudTh>
                        <MudTh>Superato</MudTh>
                        <MudTh>Scarica Attestato</MudTh>
                    </HeaderContent>
                    <RowTemplate Context="partecipazioni">
                        <MudTd DataLabel="corsoTipo">@partecipazioni.cr4f9_corsotipo</MudTd>
                        <MudTd DataLabel="titoloCorso">@partecipazioni.titolo</MudTd>
                        <MudTd DataLabel="dataFine">@partecipazioni.dataFineCorsoString</MudTd>
                        <MudTd DataLabel="superato">@((partecipazioni.cr4f9_superato) ? "Sì" : "No")</MudTd>
                        <MudTd DataLabel="attestato">
                            <MudButton Variant="Variant.Filled" Color="Color.Error">
                                Scarica
                            </MudButton>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{10, 20}" />
                    </PagerContent>
                </MudTable>
            </div>

        </MudTabPanel>

        <MudTabPanel Icon="@Icons.Material.Filled.WorkOutline" Text="Consegne DPI">

            <div class="folder-container">
                <!-- Linguetta della cartella -->
                <div class="folder-tab">
                    Lavoratore @contatti.value[0].cr4f9_cognome @contatti.value[0].cr4f9_nome
                </div>
                <MudTable Items="consegne.value" Dense="true" HeaderClass="mud-table-header" Hover="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Consegne DPI</MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Consegna, object>(x=>x.cr4f9_idtestata)">Id </MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Consegna, object>(x=>x.cr4f9_dataconsegna)">Data Consegna</MudTableSortLabel></MudTh>
                    </HeaderContent>
                    <RowTemplate Context = "consegne">
                        <MudLink Href="@($"/dettaglioTestataDpi/id={consegne.cr4f9_testataconsegnaid}")">@consegne.cr4f9_idtestata</MudLink>
                        <MudTd DataLabel="Data Consegna">@consegne.cr4f9_dataconsegna?.ToString("dd/MM/yyyy")</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{10, 20}" />
                    </PagerContent>
                </MudTable>
            </div>

        </MudTabPanel>

        <MudTabPanel Icon="@Icons.Material.Filled.MedicalServices" Text="Visite Mediche">

            <div class="folder-container">
                <!-- Linguetta della cartella -->
                <div class="folder-tab">
                    Lavoratore @contatti.value[0].cr4f9_cognome @contatti.value[0].cr4f9_nome
                </div>
                <MudTable Items="visite.value" Dense="true" HeaderClass="mud-table-header" Hover="true">
                    <HeaderContent>
                        <MudTh>Riepilogo visita</MudTh>
                        <MudTh>Data visita</MudTh>
                        <MudTh>Data prossima visita</MudTh>
                        <MudTh>Tipologia visita</MudTh>
                        <MudTh>Esito visita</MudTh>
                    </HeaderContent>
                    <RowTemplate Context="visitaMedica">
                        <MudLink DataLabel="riepilogo" Href="@($"/dettagliovisita/id={visitaMedica.cr4f9_visitamedicadellavoratoreid}")">
                            @visitaMedica.cr4f9_riepilogovisita
                        </MudLink>
                        <MudTd DataLabel="datavisita">@visitaMedica.checkDate</MudTd>
                        <MudTd DataLabel="dataprossimavisita">@visitaMedica.nextCheckDate</MudTd>
                        <MudTd DataLabel="tipologiavisita">@visitaMedica.TipologiaDescrizione</MudTd>
                        <MudTd DataLabel="esitovisita">@visitaMedica.EsitoDescrizione</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{10, 20}" />
                    </PagerContent>
                </MudTable>
            </div>

        </MudTabPanel>

        <MudTabPanel Icon="@Icons.Material.Filled.AccessTimeFilled" Text="Scadenze">
            <div class="folder-container">
                <div class="folder-tab">
                    Lavoratore @contatti.value[0].cr4f9_cognome @contatti.value[0].cr4f9_nome
                </div>
                <MudTable Items="scadenzeGeneriche" Dense="true" HeaderClass="mud-table-header" Hover="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Scadenze</MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ScadenzaGenerica, object>(x => x.DataScadenza)">Data Scadenza</MudTableSortLabel></MudTh>
                        <MudTh>Titolo</MudTh>
                        <MudTh>Tipo Scadenza</MudTh>
                    </HeaderContent>
                    <RowTemplate Context="scadenza">
                        <MudTd DataLabel="Data">@scadenza.DataScadenza.ToString("dd/MM/yyyy")</MudTd>
                        <MudTd DataLabel="Titolo">@scadenza.Titolo</MudTd>
                        <MudTd DataLabel="Tipo">@scadenza.TipoScadenza</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{10, 20}" />
                    </PagerContent>
                </MudTable>
            </div>
        </MudTabPanel>

    </MudTabs>
}
else if (!string.IsNullOrEmpty(message))
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}

@code {
    [Parameter]
    public string id { get; set; }

    private string message = "Loading...";
    private string userName;
    private string userEmail;
    private string fetchXmlQuery;
    private string fetchXmlQueryPartecipazioni;
    private string fetchXmlQueryPartecipazioniEsterne;
    private string fetchXmlQueryConsegneDpi;
    private string fetchXmlQueryVisite;
    private string fetchXmlQueryScadenzeCorsiInterni;
    private string fetchXmlQueryScadenzeCorsiEsterni;
    private string fetchXmlQueryScadenzeVisite;
    private string fetchXmlQueryScadenzeControlliDPI;
    private string clienteId;
    private Guid? azienda;

    // Mansioni e sedi.
    private string fetchXmlQueryMansioniESedi;

    private ContattoCollection contatti = new ContattoCollection { value = Array.Empty<Contatto>() };
    private PartecipazioneCollection partecipazioni = new PartecipazioneCollection { value = Array.Empty<Partecipazione>() };
    private MansioneCollection mansioni = new MansioneCollection { value = Array.Empty<Mansione>() };
    private ConsegneCollection consegne = new ConsegneCollection { value = Array.Empty<Consegna>() };
    private VisitaCollection visite = new VisitaCollection { value = Array.Empty<Visita>() };
    private ScadenzaCorsoIntCollection scadenzeCorsoInt = new ScadenzaCorsoIntCollection { value = Array.Empty<ScadenzaCorsoInt>() };
    private ScadenzaCorsoEstCollection scadenzeCorsoEst = new ScadenzaCorsoEstCollection { value = Array.Empty<ScadenzaCorsoEst>() };
    private ScadenzeVisiteCollection scadenzeVisite = new ScadenzeVisiteCollection { value = Array.Empty<ScadenzaVisita>() };
    private ScadenzeControlliDPICollection scadenzeControlli = new ScadenzeControlliDPICollection { value = Array.Empty<ScadenzaControlloDPI>() };
    private List<ScadenzaGenerica> scadenzeGeneriche = new List<ScadenzaGenerica>();

    protected override async Task OnInitializedAsync() {

        await LoadUserInformation();

        // Prima query FetchXML
        fetchXmlQuery = $@"
                    <fetch>
                      <entity name='cr4f9_contattoprv'>
                        <attribute name='cr4f9_cognome' />
                        <attribute name='cr4f9_nome' />
                        <attribute name='cr4f9_codicefiscale' />
                        <attribute name='cr4f9_datadinascita' />
                        <attribute name='cr4f9_luogodinascita' />
                        <attribute name='cr4f9_provinciadinascita' />
                        <attribute name='cr4f9_nazionalita' />
                        <attribute name='cr4f9_telefonoprincipale' />
                        <attribute name='cr4f9_emailprincipale' />
                        <filter>
                          <condition attribute='cr4f9_contattoprvid' operator='eq' value='{id}' />
                        </filter>
                      </entity>
                    </fetch>";

        fetchXmlQueryPartecipazioni = $@"
                        <fetch>
                            <entity name='new_partecipazionecorsoprv'>
                            <attribute name='cr4f9_corsotipo' />
                            <attribute name='cr4f9_superato' />
                            <filter>
                                <condition attribute='new_lavoratore' operator='eq' value='{id}' />
                            </filter>
                            <link-entity name='cr4f9_corsoprv' from='cr4f9_corsoprvid' to='new_corso' alias='corso'>
                              <attribute name='cr4f9_datadifine' alias='dataFineCorso'/>
                              <attribute name='cr4f9_titolocorso' alias='titolo' />
                            </link-entity>
                            </entity>
                        </fetch>";

        fetchXmlQueryPartecipazioniEsterne = $@"
                        <fetch>
                          <entity name='new_partecipazioneesternaprv'>
                            <attribute name='new_data' />
                            <attribute name='new_titolocorso' />
                            <filter>
                              <condition attribute='new_lavoratore' operator='eq' value='{id}' />
                            </filter>
                            <link-entity name='cr4f9_corsotipoprv' from='cr4f9_corsotipoprvid' to='new_corsotipo' link-type='inner' alias='CorsoTipo'>
                              <attribute name='cr4f9_nomecorsotipo' alias='titolo'/>
                            </link-entity>
                          </entity>
                        </fetch>"; 

        fetchXmlQueryConsegneDpi = $@"
                <fetch>
                  <entity name='cr4f9_testataconsegna'>
                    <attribute name='cr4f9_idtestata' />
                    <attribute name='cr4f9_dataconsegna' />
                    <attribute name='cr4f9_testataconsegnaid' />
                    <filter>
                      <condition attribute='cr4f9_cliente' operator='eq' value='{azienda}' />
                    </filter>
                    <link-entity name='cr4f9_contattoprv' from='cr4f9_contattoprvid' to='cr4f9_lavoratore' link-type='inner' alias='Lavoratore'>
                      <filter>
                        <condition attribute='cr4f9_contattoprvid' operator='eq' value='{id}' />
                      </filter>
                    </link-entity>
                  </entity>
                </fetch>";

        fetchXmlQueryVisite = $@"
        <fetch>
            <entity name='cr4f9_visitamedicadellavoratore'>
                <link-entity name='cr4f9_contattoprv' from='cr4f9_contattoprvid' to='cr4f9_lavoratore' alias='contatto'>
                    <link-entity name='new_lavorapressoprv' from='new_lavoratore' to='cr4f9_contattoprvid' alias='lavoraPresso'>
                        <link-entity name='cr4f9_clienteprv' from='cr4f9_clienteprvid' to='new_azienda' alias='cliente'>
                            <link-entity name='new_emailautorizzazioniprv' from='new_cliente' to='cr4f9_clienteprvid' alias='emailAuth'>
                                <filter>
                                    <condition attribute='new_email' operator='eq' value='{userEmail}' />
                                </filter>
                            </link-entity>
                        </link-entity>
                    </link-entity>
                </link-entity>
                <link-entity name='cr4f9_contattoprv' from='cr4f9_contattoprvid' to='cr4f9_lavoratore' link-type='inner' alias='Lavoratore'>
                      <filter>
                        <condition attribute='cr4f9_contattoprvid' operator='eq' value='{id}' />
                      </filter>
                    </link-entity>
            </entity>
        </fetch>";

        fetchXmlQueryMansioniESedi = $@"
        <fetch>
          <entity name='new_lavorapressoprv'>
            <filter>
              <condition attribute='new_lavoratore' operator='eq' value='{id}' />
            </filter>
            <filter>
              <condition attribute='new_azienda' operator='eq' value='{azienda}' />
            </filter>
            <link-entity name='new_sedeprv' from='new_sedeprvid' to='new_sede' link-type='inner' alias='Sede'>
              <attribute name='new_localita' alias='sede' />
            </link-entity>
            <link-entity name='new_mansionetabellamaster' from='new_mansionetabellamasterid' to='cr4f9_mansione' link-type='inner' alias='Mansione'>
              <attribute name='new_mansione' alias ='mansione' />
            </link-entity>
            <attribute name='cr4f9_inforza' />
          </entity>
        </fetch>";

        fetchXmlQueryScadenzeCorsiInterni = $@"
        <fetch>
          <entity name='new_partecipazionecorsoprv'>
            <attribute name='cr4f9_scadenza' />
            <filter>
              <condition attribute='new_lavoratore' operator='eq' value='{id}' />
            </filter>
            <link-entity name='cr4f9_corsoprv' from='cr4f9_corsoprvid' to='new_corso' link-type='inner' alias='Corso'>
              <attribute name='cr4f9_titolocorso' alias = 'titolo' />
            </link-entity>
          </entity>
        </fetch>";

        fetchXmlQueryScadenzeCorsiEsterni = $@"
        <fetch>
          <entity name='new_partecipazioneesternaprv'>
            <attribute name='new_titolocorso' />
            <attribute name='new_scadenza' />
            <filter>
              <condition attribute='new_lavoratore' operator='eq' value='{id}' />
            </filter>
          </entity>
        </fetch>";

        fetchXmlQueryScadenzeVisite = $@"
        <fetch>
          <entity name='cr4f9_visitamedicadellavoratore'>
            <attribute name='cr4f9_riepilogovisita' />
            <attribute name='cr4f9_dataprossimavisita' />
            <filter>
              <condition attribute='cr4f9_lavoratore' operator='eq' value='{id}' />
            </filter>
          </entity>
        </fetch>";

        fetchXmlQueryScadenzeControlliDPI = $@"
        <fetch>
          <entity name='cr4f9_elencocontrollidpi'>
            <attribute name='cr4f9_datascadenzacontrollo' />
            <link-entity name='cr4f9_associazionedpialavoratore' from='cr4f9_associazionedpialavoratoreid' to='cr4f9_dispositivoconsegnato' link-type='inner' alias='ConsegnaDPI'>
              <attribute name='cr4f9_riepilogoconsegnacalculated' alias='Riepilogo'/>
              <filter>
                <condition attribute='cr4f9_lavoratorelookup' operator='eq' value='{id}' />
              </filter>
            </link-entity>
          </entity>
        </fetch>";

        var tokenResult = await TokenProvider.RequestAccessToken();

        if (tokenResult.TryGetToken(out var token))
        {
            var client = ClientFactory.CreateClient("DataverseClient");

            var request = new HttpRequestMessage()
        {
            Method = HttpMethod.Get,
            RequestUri = new Uri($"{client.BaseAddress}cr4f9_contattoprvs?fetchXml={Uri.EscapeDataString(fetchXmlQuery)}")
        };
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                contatti = await response.Content.ReadFromJsonAsync<ContattoCollection>();
            }
            else
            {
                message = "An error occurred in the first request.";
                logger.LogError($"Error fetching data: {response.ReasonPhrase}");
                return; // Termina se la prima richiesta fallisce
            }     
        }
        else
        {
            message = "There was a problem authenticating.";
        }

        // Seconda richiesta.

        var tokenResultPartecipazioni = await TokenProvider.RequestAccessToken();

        if (tokenResultPartecipazioni.TryGetToken(out var tokenPart)) {
            logger.LogInformation("FETCH PARTECIPAZIONI: " + fetchXmlQueryPartecipazioni);
            var client = ClientFactory.CreateClient("DataverseClient");

            var request = new HttpRequestMessage()
        {
            Method = HttpMethod.Get,
            RequestUri = new Uri($"{client.BaseAddress}new_partecipazionecorsoprvs?fetchXml={Uri.EscapeDataString(fetchXmlQueryPartecipazioni)}")
        };

            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", tokenPart.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                partecipazioni = await response.Content.ReadFromJsonAsync<PartecipazioneCollection>();

                foreach (var part in partecipazioni.value)
                {
                    part.Interna = true;
                }
            }
            else
            {
                message = "An error occurred in the first request.";
                logger.LogError($"Error fetching data: {response.ReasonPhrase}");
                return; // Termina se la prima richiesta fallisce
            }    
        }
        else
        {
            message = "There was a problem authenticating.";
        }

        var tokenResultPartecipazioniEsterne = await TokenProvider.RequestAccessToken();

        if (tokenResultPartecipazioniEsterne.TryGetToken(out var tokenPartEst))
        {
            logger.LogInformation("FETCH PARTECIPAZIONI ESTERNE: " + fetchXmlQueryPartecipazioniEsterne);
            var client = ClientFactory.CreateClient("DataverseClient");
            var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}new_partecipazioneesternaprvs?fetchXml={Uri.EscapeDataString(fetchXmlQueryPartecipazioniEsterne)}");


            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", tokenPartEst.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                var partecipazioniEsterne = await response.Content.ReadFromJsonAsync<PartecipazioneEsternaCollection>();

                if (partecipazioniEsterne?.value !=null && partecipazioniEsterne.value.Length > 0)
                {
                    var listaPartecipazioni = partecipazioni.value.ToList();
                    foreach (var pEst in partecipazioniEsterne.value)
                    {
                        var nuovaPartecipazione = new Partecipazione
                            {
                                cr4f9_corsotipo = pEst.titolo,
                                dataFineCorso = pEst.new_data,
                                cr4f9_superato = true,
                                titolo = pEst.titolo,
                                Interna = false
                            };
                        listaPartecipazioni.Add(nuovaPartecipazione);
                    }
                    partecipazioni.value = listaPartecipazioni.ToArray();
                }
            }
            else
            {
                logger.LogError($"Errore nel recupero delle partecipazioni esterne: {response.ReasonPhrase}");
            }
        }
        else
        {
            logger.LogError("Errore di autenticazione durante il recupero delle partecipazioni esterne.");
        }

        // Terza richiesta per mansioni e sedi.

        var tokenResultMansioni = await TokenProvider.RequestAccessToken();

        if (tokenResultMansioni.TryGetToken(out var tokenMans))
        {
            logger.LogInformation("FETCH MANSIONI: " + fetchXmlQueryMansioniESedi);
            var client = ClientFactory.CreateClient("DataverseClient");

            var request = new HttpRequestMessage()
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri($"{client.BaseAddress}new_lavorapressoprvs?fetchXml={Uri.EscapeDataString(fetchXmlQueryMansioniESedi)}")
                };

            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", tokenMans.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                mansioni = await response.Content.ReadFromJsonAsync<MansioneCollection>();
            }
            else
            {
                message = "An error occurred in the first request.";
                logger.LogError($"Error fetching data: {response.ReasonPhrase}");
                return;
            }
        }
        else
        {
            message = "There was a problem authenticating.";
        }

        // Quarta richiesta per consegne dpi.

        var tokenResultConsegne = await TokenProvider.RequestAccessToken();

        if (tokenResultConsegne.TryGetToken(out var tokenConsegne))
        {
            logger.LogInformation("FETCH CONSEGNE: " + fetchXmlQueryConsegneDpi);
            var client = ClientFactory.CreateClient("DataverseClient");

            var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}cr4f9_testataconsegnas?fetchXml={Uri.EscapeDataString(fetchXmlQueryConsegneDpi)}");

            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", tokenConsegne.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                consegne = await response.Content.ReadFromJsonAsync<ConsegneCollection>();
            }
            else
            {
                message = "An error occurred while fetching data.";
                logger.LogError($"Error fetching data: {response.ReasonPhrase}");
                return;
            }
        }
        else
        {
            message = "There was a problem authenticating.";
        }

        var tokenResultVisite = await TokenProvider.RequestAccessToken();

        if (tokenResultVisite.TryGetToken(out var tokenVisite))
        {
            var client = ClientFactory.CreateClient("DataverseClient");

            var request = new HttpRequestMessage()
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri($"{client.BaseAddress}cr4f9_visitamedicadellavoratores?fetchXml={Uri.EscapeDataString(fetchXmlQueryVisite)}")
                    // RequestUri = new Uri($"{client.BaseAddress}cr4f9_contattoprvs?$top=100")
                };

            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", tokenVisite.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                visite = await response.Content.ReadFromJsonAsync<VisitaCollection>();
                logger.LogInformation($"Visita: {visite.value}");
            }
            else
            {
                message = "An error occurred.";
                logger.LogError($"Error fetching data: {response.ReasonPhrase}");
            }
        }
        else
        {
            message = "There was a problem authenticating.";
        }

        var tokenResultScadenzeCorsiInterni = await TokenProvider.RequestAccessToken();

        if (tokenResultScadenzeCorsiInterni.TryGetToken(out var tokenScadenzeCorsiInterni))
        {
            var client = ClientFactory.CreateClient("DataverseClient");
            var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}new_partecipazionecorsoprvs?fetchXml={Uri.EscapeDataString(fetchXmlQueryScadenzeCorsiInterni)}");
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", tokenScadenzeCorsiInterni.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if(response.IsSuccessStatusCode)
            {
                scadenzeCorsoInt = await response.Content.ReadFromJsonAsync<ScadenzaCorsoIntCollection>();
            }
            else
            {
                logger.LogError($"Error fetching scadenze corsi interni: {response.ReasonPhrase}");
            }
        }
        else
        {
            message = "There was a problem authenticating for scadenze corsi interni.";
        }

        var tokenResultScadenzeCorsiEsterni = await TokenProvider.RequestAccessToken();

        if (tokenResultScadenzeCorsiEsterni.TryGetToken(out var tokenScadenzeCorsiEsterni))
        {
            var client = ClientFactory.CreateClient("DataverseClient");
            var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}new_partecipazioneesternaprvs?fetchXml={Uri.EscapeDataString(fetchXmlQueryScadenzeCorsiEsterni)}");
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", tokenScadenzeCorsiEsterni.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                scadenzeCorsoEst = await response.Content.ReadFromJsonAsync<ScadenzaCorsoEstCollection>();
            }
            else
            {
                logger.LogError($"Error fetching scadenze corsi esterni: {response.ReasonPhrase}");
            }
        }
        else
        {
            message = "There was a problem authenticating for scadenze corsi esterni.";
        }

        var tokenResultScadenzeVisite = await TokenProvider.RequestAccessToken();

        if (tokenResultScadenzeVisite.TryGetToken(out var tokenScadenzeVisite))
        {
            var client = ClientFactory.CreateClient("DataverseClient");
            var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}cr4f9_visitamedicadellavoratores?fetchXml={Uri.EscapeDataString(fetchXmlQueryScadenzeVisite)}");
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", tokenScadenzeVisite.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                scadenzeVisite = await response.Content.ReadFromJsonAsync<ScadenzeVisiteCollection>();
            }
            else
            {
                logger.LogError($"Error fetching scadenze visite: {response.ReasonPhrase}");
            }
        }
        else
        {
            message = "There was a problem authenticating for scadenze visite.";
        }

        var tokenResultScadenzeControlliDPI = await TokenProvider.RequestAccessToken();
        if (tokenResultScadenzeControlliDPI.TryGetToken(out var tokenScadenzeControlliDPI))
        {
            var client = ClientFactory.CreateClient("DataverseClient");
            var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}cr4f9_elencocontrollidpis?fetchXml={Uri.EscapeDataString(fetchXmlQueryScadenzeControlliDPI)}");
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", tokenScadenzeControlliDPI.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                scadenzeControlli = await response.Content.ReadFromJsonAsync<ScadenzeControlliDPICollection>();
            }
            else
            {
                logger.LogError($"Error fetching scadenze controlli DPI: {response.ReasonPhrase}");
            }
        }
        else
        {
            message = "There was a problem authenticating for scadenze controlli DPI.";
        }

        if (scadenzeCorsoInt?.value != null)
        {
            foreach (var corso in scadenzeCorsoInt.value)
            {
                scadenzeGeneriche.Add(new ScadenzaGenerica
                    {
                        DataScadenza = corso.cr4f9_scadenza,
                        Titolo = corso.titolo,
                        TipoScadenza = "Corso Interno"
                    });
            }
        }

        // Conversione scadenze corsi esterni
        if (scadenzeCorsoEst?.value != null)
        {
            foreach (var corso in scadenzeCorsoEst.value)
            {
                scadenzeGeneriche.Add(new ScadenzaGenerica
                    {
                        DataScadenza = corso.new_scadenza,
                        Titolo = corso.new_titolocorso,
                        TipoScadenza = "Corso Esterno"
                    });
            }
        }

        // Conversione scadenze visite
        if (scadenzeVisite?.value != null)
        {
            foreach (var visita in scadenzeVisite.value)
            {
                scadenzeGeneriche.Add(new ScadenzaGenerica
                    {
                        DataScadenza = visita.cr4f9_dataprossimavisita,
                        Titolo = visita.cr4f9_riepilogovisita,
                        TipoScadenza = "Visita Medica"
                    });
            }
        }

        // Conversione scadenze controlli DPI
        if (scadenzeControlli?.value != null)
        {
            foreach (var controllo in scadenzeControlli.value)
            {
                scadenzeGeneriche.Add(new ScadenzaGenerica
                    {
                        DataScadenza = controllo.cr4f9_datascadenzacontrollo,
                        Titolo = controllo.Riepilogo,
                        TipoScadenza = "Controllo DPI"
                    });
            }
        }
    }

    private async Task CaricaClienteAssociato(string email)
    {
        try
        {
            var tokenResult = await TokenProvider.RequestAccessToken();
            if (tokenResult.TryGetToken(out var token))
            {
                var client = ClientFactory.CreateClient("DataverseClient");

                var fetchXml = BuildAziendaFetchXml(email);

                var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}new_emailautorizzazioniprvs?fetchXml={Uri.EscapeDataString(fetchXml)}");
                request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);

                var response = await client.SendAsync(request);

                if (response.IsSuccessStatusCode)
                {
                    var responseBody = await response.Content.ReadAsStringAsync();

                    var jsonDocument = System.Text.Json.JsonDocument.Parse(responseBody);
                    var entities = jsonDocument.RootElement.GetProperty("value");

                    logger.LogInformation("FETCH: " + fetchXml);

                    if (entities.GetArrayLength() > 0)
                    {
                        var entity = entities[0];

                        string entitiesJson = System.Text.Json.JsonSerializer.Serialize(entity, new System.Text.Json.JsonSerializerOptions
                            {
                                WriteIndented = true // Per una visualizzazione leggibile
                            });
                        logger.LogInformation($"Entities JSON: {entitiesJson}");

                        if (entity.TryGetProperty("_new_cliente_value", out var newClienteProperty))
                        {
                            clienteId = newClienteProperty.GetString();
                            azienda = newClienteProperty.GetGuid();

                            logger.LogInformation($"Entities reference: {clienteId}");
                            logger.LogInformation($"Azienda reference: {azienda}");


                            if (Guid.TryParse(clienteId, out var newClienteGuid))
                            {
                                // lavoratore.cr4f9_aziendanome = newClienteGuid;
                                // logger.LogInformation($"Cliente trovato: {lavoratore.cr4f9_aziendanome}");
                            }
                            else
                            {
                                logger.LogError($"Il valore di 'new_cliente' non è un GUID valido: {clienteId}");
                            }
                        }
                        else
                        {
                            logger.LogWarning("Il campo 'new_cliente' non è presente nel record.");
                        }
                    }
                    else
                    {
                        logger.LogWarning("Nessun record trovato per l'email fornita.");
                    }
                }
                else
                {
                    logger.LogError($"Errore durante il recupero del cliente: {response.ReasonPhrase}");
                }
            }
            else
            {
                logger.LogError("Errore di autenticazione durante il caricamento del cliente.");
            }
        }
        catch (Exception ex)
        {
            logger.LogError($"Eccezione durante il caricamento del cliente: {ex.Message}");
        }
    }

    private string BuildAziendaFetchXml(string email)
    {
        return $@"
        <fetch>
          <entity name='new_emailautorizzazioniprv'>
            <attribute name='new_cliente' />
            <filter>
              <condition attribute='new_email' operator='eq' value='{email}' />
            </filter>
          </entity>
        </fetch>";
    }

    private void GoBack()
    {
        // Utilizza la navigazione per tornare indietro nella cronologia
        Navigation.NavigateTo("javascript:history.back()");
    }

    // Metodo per caricare le informazioni sull'utente
    private async Task LoadUserInformation()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;
            userEmail = user.FindFirst(c => c.Type == "preferred_username")?.Value;

            logger.LogInformation("USER EMAIL: " + userEmail);
        }
        await CaricaClienteAssociato(userEmail);
    }

    public class Contatto
    {
        public string cr4f9_cognome { get; set; }
        public string cr4f9_nome { get; set; }
        public string cr4f9_codicefiscale { get; set; }
        public DateTime cr4f9_datadinascita { get; set; }
        public string cr4f9_luogodinascita { get; set; }
        public string cr4f9_provinciadinascita { get; set; }
        public string cr4f9_nazionalita { get; set; }
        public string cr4f9_telefonoprincipale { get; set; }
        public string cr4f9_emailprincipale { get; set; }

        public string dataNascita => cr4f9_datadinascita.ToString("dd/MM/yyyy");
    }

    public class ContattoCollection
    {
        public Contatto[] value { get; set; }
    }

    public class Partecipazione {
        public string cr4f9_corsotipo { get; set; }
        public DateTime dataFineCorso { get; set; }
        public bool cr4f9_superato { get; set; }

        public string dataFineCorsoString => dataFineCorso.ToString("dd/MM/yyyy");
        public string titolo { get; set; }
        public bool Interna { get; set; }
    }

    public class PartecipazioneCollection {

        public Partecipazione[] value { get; set; }
    }

    public class PartecipazioneEsterna
    {
        public DateTime new_data { get; set; }
        public string new_titolcorso { get; set; }
        public string titolo { get; set; }
    }

    public class PartecipazioneEsternaCollection
    {
        public PartecipazioneEsterna[] value { get; set; }
    }

    public class Mansione {

        public string sede { get; set; }
        public string mansione { get; set; }
        public bool cr4f9_inforza { get; set; }

    }

    public class MansioneCollection {

        public Mansione[] value { get; set; }
    }

    public class Consegna
    {
        public string cr4f9_idtestata { get; set; }
        public DateTime? cr4f9_dataconsegna { get; set; }
        public string cr4f9_testataconsegnaid { get; set; }
    }

    public class ConsegneCollection {

        public Consegna[] value { get; set; }
    }

    public class Visita
    {
        public Guid cr4f9_visitamedicadellavoratoreid { get; set; }
        public string cr4f9_riepilogovisita { get; set; }
        public DateTime cr4f9_datavisita { get; set; }
        public DateTime cr4f9_dataprossimavisita { get; set; }

        public int cr4f9_tipologiadivisita { get; set; }

        public int cr4f9_esitodellavisita { get; set; }

        public TipologiaVisita Tipologia
        {
            get => (TipologiaVisita)cr4f9_tipologiadivisita;
            set => cr4f9_tipologiadivisita = (int)value;
        }

        public string TipologiaDescrizione => Tipologia switch
        {
            TipologiaVisita.Preassuntiva => "Preassuntiva",
            TipologiaVisita.Periodica => "Periodica",
            TipologiaVisita.SuRichiesta => "Su richiesta",
            TipologiaVisita.Rientro => "Rientro da malattia/infortunio",
            TipologiaVisita.Fine => "Fine rapporto",
            _ => "Sconosciuto"
        };

        public EsitoVisita Esito
        {
            get => (EsitoVisita)cr4f9_esitodellavisita;
            set => cr4f9_esitodellavisita = (int)value;
        }

        public string EsitoDescrizione => Esito switch
        {
            EsitoVisita.Idoneo => "Idoneo",
            EsitoVisita.IdoneoConPrescrizioni => "Idoneo con prescrizioni",
            EsitoVisita.IdoneoConLimitazioni => "Idoneo con limitazioni",
            EsitoVisita.NonIdoneoTemporanemante => "Non idoneo temporaneamente",
            EsitoVisita.NonIdoneoPermanentemente => "Non idoneo permanentemente"
        };

        public string checkDate => cr4f9_datavisita.ToString("dd/MM/yyyy");
        public string nextCheckDate => cr4f9_dataprossimavisita.ToString("dd/MM/yyyy");
    }

    public class VisitaCollection
    {
        public Visita[] value { get; set; }
    }

    public enum TipologiaVisita
    {
        Preassuntiva = 644840000,
        Fine = 644840004,
        Periodica = 644840001,
        SuRichiesta = 644840002,
        Rientro = 644840003
    }

    public enum EsitoVisita
    {
        Idoneo = 644840000,
        IdoneoConPrescrizioni = 644840004,
        IdoneoConLimitazioni = 644840001,
        NonIdoneoTemporanemante = 644840002,
        NonIdoneoPermanentemente = 644840003
    }

    private DateTime? SelectedDate
    {
        get => contatti.value[0].cr4f9_datadinascita;
        set
        {
            if (value.HasValue)
            {
                contatti.value[0].cr4f9_datadinascita = value.Value;
            }
        }
    }

    public class ScadenzaCorsoInt 
    {
        public DateTime cr4f9_scadenza { get; set; }
        public string titolo { get; set; }
    }

    public class ScadenzaCorsoIntCollection 
    {
        public ScadenzaCorsoInt[] value { get; set; }
    }

    public class ScadenzaCorsoEst
    {
        public string new_titolocorso { get; set; }
        public DateTime new_scadenza { get; set; }
    }

    public class ScadenzaCorsoEstCollection
    {
        public ScadenzaCorsoEst[] value { get; set; }
    }

    public class ScadenzaVisita
    {
        public string cr4f9_riepilogovisita { get; set; }
        public DateTime cr4f9_dataprossimavisita { get; set; }
    }

    public class ScadenzeVisiteCollection
    {
        public ScadenzaVisita[] value { get; set; }
    }

    public class ScadenzaControlloDPI
    {
        public DateTime cr4f9_datascadenzacontrollo { get; set; }
        public string Riepilogo { get; set; }
    }

    public class ScadenzeControlliDPICollection
    {
        public ScadenzaControlloDPI[] value { get; set; }
    }

    public class ScadenzaGenerica
    {
        public DateTime DataScadenza { get; set; }
        public string Titolo { get; set; }
        public string TipoScadenza { get; set; }
    }

}

<style>

    /* Contenitore a forma di cartella */
    .folder-container {
        position: relative;
        background-color: #f0f0f0;
        border: 2px solid #E53935;
        border-radius: 8px;
        padding: 16px;
        margin-top: 50px; /* Per spostare il contenuto sotto la linguetta */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombra per un effetto elevato */
        margin-bottom: 100px;
    }

    /* Linguetta in alto a sinistra */
    .folder-tab {
        position: absolute;
        top: -25px; /* Altezza sopra il contenitore */
        left: 20px; /* Regola la posizione più verso sinistra */
        background-color: #E53935;
        color: white;
        padding: 6px 16px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-weight: bold;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Ombra della linguetta */
    }

    /* Stile per la sezione aggiuntiva */
    .folder-section {
        margin-top: 16px;
        padding-top: 8px;
        border-top: 1px solid #ccc; /* Separatore tra le sezioni */
    }

    /* Stile per le informazioni del corso */
    .course-info {
        font-size: 1rem;
        color: #333;
        margin-bottom: 12px;
    }

    /* Pulsante di azione */
    button {
        font-size: 1rem;
        background-color: #E53935; /* Stesso colore della linguetta */
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #D32F2F; /* Colore più scuro al passaggio del mouse */
    }

    /* Contenitore delle informazioni del corso */
    .course-info {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 12px 0;
        padding: 8px;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Stile generale per lo stato */
    .course-status {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    /* Stile per stato positivo */
    .course-status.success {
        color: #2e7d32; /* Verde scuro */
        background-color: #e8f5e9; /* Verde chiaro */
        border-left: 4px solid #2e7d32;
        padding-left: 12px;
    }

    /* Stile per stato negativo */
    .course-status.failure {
        color: #d32f2f; /* Rosso scuro */
        background-color: #ffebee; /* Rosso chiaro */
        border-left: 4px solid #d32f2f;
        padding-left: 12px;
    }

    /* Icone */
    .course-status .mud-icon {
        font-size: 1.5rem;
    }

    .mud-tab-slider {
    position: absolute;
    background: #A9A9A9;
    }

    .mud-tab.mud-tab-active {
    color: currentColor;
    }

    /* Tabella intestazione */
    .mud-table-header {
        background-color: #E53935;
    }

    .mud-table-header .mud-table-cell {
        color: white !important;
        font-weight: bold; /* Grassetto per l'intestazione */
    }

    /* Righe della tabella */
    .mud-table-row {
        border-bottom: 1px solid #e0e0e0; /* Bordo tra le righe */
    }

    /* Celle della tabella (MudTd) */
    .mud-table .mud-td, .mud-table .mud-th {
        border-bottom: 1px solid #e0e0e0; /* Bordo tra le celle */
        padding: 8px; /* Padding per le celle */
        vertical-align: middle; /* Allinea verticalmente il contenuto */
        text-align: center; /* Centra il testo */
    }

    /* Colore dei link nella tabella */
    .mud-table .mud-link.mud-typography.mud-primary-text {
        font-size: 0.875rem;
        color: #757575 !important;
        font-weight: bold;
        display: block;
        text-align: center;
    }

    /* Hover sui link */
    .mud-table .mud-link.mud-typography.mud-primary-text:hover {
        color: red !important;
        cursor: pointer;
    }

    .mud-table .mud-link.mud-typography.mud-primary-text {
        font-size: 0.875rem;
        color: #757575 !important;
        font-weight: bold;
        display: block;
        text-align: left;
        vertical-align: central;
        margin-top: 8px;
        margin-left: 16px;
    }
</style>