@page "/dettagliosede/id={id}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Logging
@using System.Net.Http.Headers
@using System.Text.Json.Serialization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILogger<DettaglioSede> logger
@inject IAccessTokenProvider TokenProvider
@inject IHttpClientFactory ClientFactory
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<link href="css/dettaglio-sede.css" rel="stylesheet" />

<MudPaper Class="toolbar" Elevation="1">
	<div class="toolbar-left">
		<MudIconButton Icon="@Icons.Material.Filled.ArrowBack"
					   Color="Color.Error"
					   Class="back-btn"
					   OnClick="GoBack" />
		<MudText Typo="Typo.h5" Class="page-title">
			@(sedi != null && sedi.value?.Length > 0 ? sedi.value[0].new_localita : "SEDE")
		</MudText>
	</div>
</MudPaper>


<MudTabs SliderColor="Color.Secondary" Elevation="2" Rounded="true" Class="my-6">
	@if (sedi!=null && sedi.value?.Length > 0)
	{
		<MudTabPanel Icon="@Icons.Material.Filled.Info" Text="Informazioni">
			<div class="folder-container">
				@if (isSaving)
				{
					<div class="saving-overlay">
						<MudProgressCircular Indeterminate="true" Size="Size.Large" Color="Color.Error" />
						<div class="saving-text">Salvataggio in corso...</div>
					</div>
				}

				<div class="folder-tab">
					Sede @sedi.value[0].new_localita
				</div>

				<div class="folder-section info-grid">
					<div class="course-info">
						<MudTextField @bind-Value="@sedi.value[0].new_localita" Label="Sede" Variant="Variant.Outlined" Disabled="@(!editMode)" />
					</div>

					<div class="course-info">
						<MudTextField @bind-Value="@sedi.value[0].cr4f9_ragionesociale" Label="Azienda" Variant="Variant.Outlined" Disabled="true" />
					</div>

					<div class="course-info">
						<MudTextField @bind-Value="@sedi.value[0].cr4f9_provincia" Label="Provincia" Variant="Variant.Outlined" Disabled="@(!editMode)" />
					</div>

					<div class="course-info">
						<MudTextField @bind-Value="@sedi.value[0].cr4f9_cap" Label="CAP" Variant="Variant.Outlined" Disabled="@(!editMode)" />
					</div>

					<div class="course-info">
						<MudTextField @bind-Value="@sedi.value[0].new_indirizzo" Label="Indirizzo" Variant="Variant.Outlined" Disabled="@(!editMode)" />
					</div>

					<div class="course-info">
						<MudTextField @bind-Value="@sedi.value[0].cr4f9_descrizionesede" Label="Descrizione Sede" Variant="Variant.Outlined" Disabled="@(!editMode)" />
					</div>

					<div class="course-info">
						<MudTextField @bind-Value="@sedi.value[0].new_emailresponsabile" Label="Email Responsabile" Variant="Variant.Outlined" Disabled="@(!editMode)" />
					</div>
				</div>
				<MudButton Variant="Variant.Filled"
						   Color="Color.Error"
						   Disabled="@(isSaving)"
						   OnClick="ToggleEdit"
						   Class="mt-3">
					@if (isSaving)
					{
						<MudProgressCircular Indeterminate="true" Size="Size.Small" Class="mr-2" />
						<span>Salvataggio...</span>
					}
					else if (!editMode)
					{
						<span>MODIFICA</span>
					}
					else
					{
						<span>SALVA MODIFICHE</span>
					}
				</MudButton>

			</div>

		</MudTabPanel>

		<MudTabPanel Icon="@Icons.Material.Filled.Work" Text="Mansioni">
			<div class="folder-container">
				<div class="folder-tab">
					Sede @sedi.value[0].new_localita
				</div>
				<MudTable Items="mansioni.value"
						  Dense="true"
						  HeaderClass="mud-table-header"
						  Hover="true"
						  Class="modern-table">

					<ToolBarContent>
						<MudText Typo="Typo.h6">Mansioni</MudText>
						<div style="text-align: right; width: 80%;">
							@* <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Style="color: #E53935;" @onclick="OpenDialogAsyncMansione">
								Nuova Mansione Custom
							</MudButton> *@
						</div>
					</ToolBarContent>
					<HeaderContent>
						<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Mansione, object>(x => x.new_mansione)">Mansioni</MudTableSortLabel></MudTh>
					</HeaderContent>
					<RowTemplate Context="mansioni">
						<MudTd DataLabel="Mansione">@mansioni.new_mansione</MudTd>
					</RowTemplate>
					<PagerContent>
						<MudTablePager PageSizeOptions="new int[]{10, 20}" />
					</PagerContent>
				</MudTable>
			</div>
		</MudTabPanel>

		<MudTabPanel Icon="@Icons.Material.Filled.Person" Text="Lavoratori">
			<div class="folder-container">
				<div class="folder-tab">
					Sede @sedi.value[0].new_localita
				</div>
				<MudTable Items="lavoratori.value"
						  Dense="true"
						  HeaderClass="mud-table-header"
						  Hover="true"
						  Class="modern-table">
					<ToolBarContent>
						<MudText Typo="Typo.h6">Lavoratori</MudText>
						<div style="text-align: right; width: 90%;">
							<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Style="color: #E53935;" @onclick="OpenDialogAsync">
								Associa Lavoratore a Sede
							</MudButton>
						</div>
					</ToolBarContent>
					<HeaderContent>
						<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Lavoratore, object>(x => x.cr4f9_calcolonomeecognome)">Lavoratori</MudTableSortLabel></MudTh>
						<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Lavoratore, object>(x => x.new_mansione)">Mansioni</MudTableSortLabel></MudTh>
						<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Lavoratore, object>(x => x.cr4f9_inforza)">In Forza</MudTableSortLabel></MudTh>
					</HeaderContent>
					<RowTemplate Context="lavoratori">
						<MudTd>
							<MudLink Href="@($"/dettagliolavoratore/id={lavoratori.cr4f9_contattoprvid}")">
								@lavoratori.cr4f9_calcolonomeecognome
							</MudLink>
						</MudTd>
						<MudTd DataLabel="Mansione">@lavoratori.new_mansione</MudTd>
						<MudTd DataLabel="inForza">
							@(lavoratori.cr4f9_inforza ? "Sì" : "No")
						</MudTd>
					</RowTemplate>
					<PagerContent>
						<MudTablePager PageSizeOptions="new int[]{10, 20}"/>
					</PagerContent>
				</MudTable>
			</div>
		</MudTabPanel>

		<MudTabPanel Icon="@Icons.Material.Filled.PrecisionManufacturing" Text="Macchinari e Impianti">
			<div class="folder-container">
				<div class="folder-tab">
					Sede @sedi.value[0].new_localita
				</div>
				<MudTable Items="macchinariEdImpianti.value"
						  Dense="true"
						  HeaderClass="mud-table-header"
						  Hover="true"
						  Class="modern-table">
					<ToolBarContent>
						<MudText Typo="Typo.h6">Macchinari ed Impianti</MudText>
						<div style="text-align: right; width: 80%;">
							<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Style="color: #E53935;" @onclick="OpenDialogAsyncMacchinario">
								Nuovo Macchinario o Impianto
							</MudButton>
						</div>
					</ToolBarContent>
					<HeaderContent>
						<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<MacchinariEdImpianti, object>(x => x.cr4f9_matricola)" >Matricola</MudTableSortLabel></MudTh>
						<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<MacchinariEdImpianti, object>(x => x.cr4f9_tipologia)">Tipologia</MudTableSortLabel></MudTh>
						<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<MacchinariEdImpianti, object>(x => x.cr4f9_nome)">Nome</MudTableSortLabel></MudTh>
					</HeaderContent>
					<RowTemplate Context="macchinariEdImpianti">
						<MudTd DataLabel="Matricola">@macchinariEdImpianti.cr4f9_matricola</MudTd>
						<MudTd DataLabel="Tipologia">@macchinariEdImpianti.TipologiaDescrizione</MudTd>
						<MudTd DataLabel="Nome">@macchinariEdImpianti.cr4f9_nome</MudTd>
					</RowTemplate>
					<PagerContent>
						<MudTablePager PageSizeOptions="new int[]{10, 20}" />
					</PagerContent>
				</MudTable>
			</div>
		</MudTabPanel>

		<MudTabPanel Icon="@Icons.Material.Filled.MedicalServices" Text="DPI">
			<div class="folder-container">

				<div class="folder-tab">
					Sede @sedi.value[0].new_localita
				</div>
				<MudTable Items="dpis.value"
						  Dense="true"
						  Hover="true"
						  MultiSelection="true"
						  @bind-SelectedItems="selectedItems"
						  HeaderClass="mud-table-header"
						  Class="modern-table">
					<ToolBarContent>
						<MudText Typo="Typo.h6">DPI</MudText>
					</ToolBarContent>
					<HeaderContent>
						<MudTh>Matricola</MudTh>
						<MudTh>Nome</MudTh>
						<MudTh>Taglia</MudTh>
						<MudTh>Tipo</MudTh>
					</HeaderContent>
					<RowTemplate Context="dpi">
						<MudTd DataLabel="matricola">
							<MudLink Href="@($"/dettagliodpi/id={dpi.cr4f9_dpifisicoid}")">
								@dpi.cr4f9_matricoladispositivo
							</MudLink>
						</MudTd>
						<MudTd>@dpi.cr4f9_nomedeldispositivofisico</MudTd>
						<MudTd>@dpi.cr4f9_taglia</MudTd>
						<MudTd>@dpi.Tipo</MudTd>
					</RowTemplate>
					<PagerContent>
						<MudTablePager PageSizeOptions="new int[]{10, 20}" />
					</PagerContent>
				</MudTable>

				@if (selectedItems != null && selectedItems.Any())
				{
					<MudButton Variant="Variant.Filled"
							   Color="Color.Error"
							   Class="action-btn mt-4"
							   StartIcon="@Icons.Material.Filled.AssignmentTurnedIn"
							   OnClick="ApriDialog">
						Consegna DPI a Lavoratore
					</MudButton>
				}

			</div>
		</MudTabPanel>

		<MudTabPanel Icon="@Icons.Material.Filled.AccessTimeFilled" Text="Scadenze">
			<MudTabs SliderColor="Color.Secondary" Elevation="1" Rounded="true" Class="mt-4">
				<!-- Sotto‐tab SEDE -->
				<MudTabPanel Text="SEDE" Icon="@Icons.Material.Filled.Place">
					<div class="folder-container">

						@* --- TABELLA DOCUMENTI --- *@
						<MudTable Items="scadenzeDocumenti?.value"
								  Dense="true"
								  HeaderClass="mud-table-header"
								  Hover="true"
								  Class="modern-table">
							<ToolBarContent>
								<MudText Typo="Typo.h6">Documenti sede</MudText>
							</ToolBarContent>
							<HeaderContent>
								<MudTh>Data Scadenza</MudTh>
								<MudTh>Titolo</MudTh>
							</HeaderContent>
							<RowTemplate Context="doc">
								<MudTd DataLabel="Data">@doc.cr4f9_datascadenza.ToString("dd/MM/yyyy")</MudTd>
								<MudTd DataLabel="Titolo">@doc.cr4f9_nomecartella</MudTd>
							</RowTemplate>
							<PagerContent>
								<MudTablePager PageSizeOptions="new int[]{10, 20}" />
							</PagerContent>
						</MudTable>


						@* --- TABELLA CONTROLLI --- *@
						<MudTable Items="scadenzeControlli?.value"
								  Dense="true"
								  HeaderClass="mud-table-header"
								  Hover="true"
								  Class="modern-table">
							<ToolBarContent>
								<MudText Typo="Typo.h6">Controlli sede</MudText>
							</ToolBarContent>
							<HeaderContent>
								<MudTh>Data Scadenza</MudTh>
								<MudTh>Tipo Controllo</MudTh>
								<MudTh>Matricola</MudTh>
							</HeaderContent>
							<RowTemplate Context="controllo">
								<MudTd DataLabel="Data">@controllo.cr4f9_datadiscadenza.ToString("dd/MM/yyyy")</MudTd>
								<MudTd DataLabel="Tipo">@controllo.Tipo</MudTd>
								<MudTd DataLabel="Matricola">@controllo.Matricola</MudTd>
							</RowTemplate>
							<PagerContent>
								<MudTablePager PageSizeOptions="new int[]{10, 20}" />
							</PagerContent>
						</MudTable>


					</div>
				</MudTabPanel>

				<MudTabPanel Text="LAVORATORI" Icon="@Icons.Material.Filled.Person">
					<div class="folder-container">

						<MudTable Items="scadenzeFormazione"
								  Dense="true"
								  HeaderClass="mud-table-header"
								  Hover="true"
								  Class="modern-table mb-6">
							<ToolBarContent>
								<MudText Typo="Typo.h6">Formazione</MudText>
							</ToolBarContent>
							<HeaderContent>
								<MudTh>Lavoratore</MudTh>
								<MudTh>Data Esecuzione</MudTh>
								<MudTh>Data Scadenza</MudTh>
								<MudTh>Titolo</MudTh>
							</HeaderContent>
							<RowTemplate Context="item">
								<MudTd>@item.NomeCognome</MudTd>
								<MudTd>@item.DataEsecuzione?.ToString("dd/MM/yyyy")</MudTd>
								<MudTd>@item.DataScadenza?.ToString("dd/MM/yyyy")</MudTd>
								<MudTd>@item.Titolo</MudTd>
							</RowTemplate>
							<PagerContent>
								<MudTablePager PageSizeOptions="new int[]{10,20}" />
							</PagerContent>
						</MudTable>

						<MudTable Items="scadenzeVisitaMedica"
								   Dense="true"
								   HeaderClass="mud-table-header"
								   Hover="true"
								   Class="modern-table mb-6">
							<ToolBarContent>
								<MudText Typo="Typo.h6">Visite Mediche</MudText>
							</ToolBarContent>
							<HeaderContent>
								<MudTh>Lavoratore</MudTh>
								<MudTh>Data Visita</MudTh>
								<MudTh>Prossima Visita</MudTh>
								<MudTh>Riepilogo</MudTh>
							</HeaderContent>
							<RowTemplate Context="item">
								<MudTd>@item.NomeCognome</MudTd>
								<MudTd>@item.DataEsecuzione?.ToString("dd/MM/yyyy")</MudTd>
								<MudTd>@item.DataScadenza?.ToString("dd/MM/yyyy")</MudTd>
								<MudTd>@item.Titolo</MudTd>
							</RowTemplate>
							<PagerContent>
								<MudTablePager PageSizeOptions="new int[]{10,20}" />
							</PagerContent>
						</MudTable>

						<MudTable Items="scadenzeControlloDPI"
								  Dense="true"
								  HeaderClass="mud-table-header"
								  Hover="true"
								  Class="modern-table">
							<ToolBarContent>
								<MudText Typo="Typo.h6">Controlli DPI</MudText>
							</ToolBarContent>
							<HeaderContent>
								<MudTh>Lavoratore</MudTh>
								<MudTh>Data Esecuzione</MudTh>
								<MudTh>Data Scadenza</MudTh>
								<MudTh>Riepilogo DPI</MudTh>
							</HeaderContent>
							<RowTemplate Context="item">
								<MudTd>@item.NomeCognome</MudTd>
								<MudTd>@item.DataEsecuzione?.ToString("dd/MM/yyyy")</MudTd>
								<MudTd>@item.DataScadenza?.ToString("dd/MM/yyyy")</MudTd>
								<MudTd>@item.Titolo</MudTd>
							</RowTemplate>
							<PagerContent>
								<MudTablePager PageSizeOptions="new int[]{10,20}" />
							</PagerContent>
						</MudTable>

					</div>
				</MudTabPanel>
			</MudTabs>
		</MudTabPanel>


		<MudTabPanel Icon="@Icons.Material.Filled.FileOpen" Text="Documenti">
			<div class="folder-container">
				<div class="folder-tab">
					Sede @sedi.value[0].new_localita
				</div>

				<div class="table-card">
					<div class="table-card-header">
						<div class="table-card-title">
							<MudText Typo="Typo.h6" Class="mb-0">Testate Documenti</MudText>
						</div>

						<MudButton Variant="Variant.Filled"
								   Color="Color.Error"
								   StartIcon="@Icons.Material.Filled.Add"
								   Class="action-btn"
								   @onclick="OpenDialogAsyncDocumento">
							Nuova Testata Documenti
						</MudButton>
					</div>

					<MudTable Items="testate.value"
							  Dense="true"
							  HeaderClass="mud-table-header"
							  Hover="true"
							  Class="pretty-table">
						<HeaderContent>
							<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<TestataDocumentiSede, object>(x => x.cr4f9_name)">ID</MudTableSortLabel></MudTh>
							<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<TestataDocumentiSede, object>(x => x.cr4f9_nomedocumentosede)">Nome</MudTableSortLabel></MudTh>
							<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<TestataDocumentiSede, object>(x => x.cr4f9_email)">Email</MudTableSortLabel></MudTh>
							<MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<TestataDocumentiSede, object>(x => x.cr4f9_notedocumento)">Note</MudTableSortLabel></MudTh>
						</HeaderContent>

						<RowTemplate Context="testata">
							<MudTd DataLabel="ID">
								<MudLink Href="@($"/dettagliotestatadocumentisede/id={testata.cr4f9_testatadocumentosedeid}&numero={ExtractNumber(testata.cr4f9_name)}")">
									@testata.cr4f9_name
								</MudLink>
							</MudTd>
							<MudTd DataLabel="Nome">@testata.cr4f9_nomedocumentosede</MudTd>
							<MudTd DataLabel="Email">@testata.cr4f9_email</MudTd>
							<MudTd DataLabel="Note">@testata.cr4f9_notedocumento</MudTd>
						</RowTemplate>

						<PagerContent>
							<MudTablePager PageSizeOptions="new int[]{10, 20}" />
						</PagerContent>
					</MudTable>
				</div>
			</div>

		</MudTabPanel>
	}
	else
	{
		<p>Caricamento in corso o nessun dato disponibile...</p>
	}
</MudTabs>

@code {
	[Parameter]
	public string id { get; set; }

	private bool editMode = false;

	
	private string userName;
	private string userEmail;
	private string clienteId;
	private Guid? azienda;

	private bool showWorkerFilters = false;
	private string filterTitolo = "";
	private string filterTipoScadenza = "all";
	private DateTime? execDateFrom;
	private DateTime? execDateTo;
	private DateTime? dueDateFrom;
	private DateTime? dueDateTo;

	private SedeCollection sedi = new SedeCollection { value = Array.Empty<Sede>() };
	private MansioneCollection mansioni = new MansioneCollection { value = Array.Empty<Mansione>() };
	private LavoratoreCollection lavoratori = new LavoratoreCollection { value = Array.Empty<Lavoratore>() };
	private MacchinariEdImpiantiCollection macchinariEdImpianti = new MacchinariEdImpiantiCollection { value = Array.Empty<MacchinariEdImpianti>() };
	private TestataCollection testate = new TestataCollection { value = Array.Empty<TestataDocumentiSede>() };
	private DpiCollection dpis = new DpiCollection { value = Array.Empty<Dpi>() };
	private ScadenzeDocumentiCollection scadenzeDocumenti = new();
	private ScadenzeControlliCollection scadenzeControlli = new();


	private ScadenzaCorsoIntCollection scadenzeCorsoInt = new ScadenzaCorsoIntCollection { value = Array.Empty<ScadenzaCorsoInt>() };
	private ScadenzaCorsoEstCollection scadenzeCorsoEst = new ScadenzaCorsoEstCollection { value = Array.Empty<ScadenzaCorsoEst>() };
	private ScadenzaVisitaCollection scadenzeVisita = new ScadenzaVisitaCollection { value = Array.Empty<ScadenzaVisita>() };
	private ScadenzaDpiCollection scadenzaDpi = new ScadenzaDpiCollection { value = Array.Empty<ScadenzaDpi>() };
	private List<ScadenzaGenericaLavoratore> scadenzeGenericheLavoratori = new List<ScadenzaGenericaLavoratore>();

	private List<ScadenzaGenerica> scadenzeGeneriche = new List<ScadenzaGenerica>();

	private List<ScadenzaGenericaLavoratore> scadenzeFormazione = new();
	private List<ScadenzaGenericaLavoratore> scadenzeVisitaMedica = new();
	private List<ScadenzaGenericaLavoratore> scadenzeControlloDPI = new();

	private HashSet<Dpi> selectedItems = new HashSet<Dpi>();

	private bool isSaving = false;
	private string? saveError = null;


	protected override async Task OnInitializedAsync()
	{
		await LoadUserInformation();

	}

	private async Task LoadUserInformation()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;

		logger.LogInformation($"Id Sede : {id}");

		if(user.Identity.IsAuthenticated)
		{
			userName = user.Identity.Name;
			userEmail = user.FindFirst(c => c.Type == "preferred_username")?.Value;

			logger.LogInformation("USER EMAIL: " + userEmail);
		}

		await CaricaClienteAssociato(userEmail);
		await CaricaSede();
		await CaricaMansioni();
		await CaricaLavoratori();
		await CaricaMacchinariedImpianti();
		await CaricaTestateDocmunetiSede();
		await CaricaScadenzeControlli();
		await CaricaScadenzeDocumenti();
		await CaricaScadenzeCorsiInterni();
		await CaricaScadenzeCoretiEsterni();
		await CaricaScadenzeVisiteSede();
		await CaricaScadenzeDpiSede();
		await CaricaDpi();
		AggregaScadenze();
	}

	private async Task CaricaClienteAssociato(string email)
	{
		try
		{
			var tokenResult = await TokenProvider.RequestAccessToken();
			if(tokenResult.TryGetToken(out var token))
			{
				var client = ClientFactory.CreateClient("DataverseClient");

				var fetchXml = BuildAziendaFetchXml(email);

				var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}new_emailautorizzazioniprvs?fetchXml={Uri.EscapeDataString(fetchXml)}");
				request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);

				var response = await client.SendAsync(request);

				if (response.IsSuccessStatusCode)
				{
					var responseBody = await response.Content.ReadAsStringAsync();

					var jsonDocument = System.Text.Json.JsonDocument.Parse(responseBody);
					var entities = jsonDocument.RootElement.GetProperty("value");

					logger.LogInformation("Fetch: " + fetchXml);

					if(entities.GetArrayLength() > 0)
					{
						var entity = entities[0];

						string entitiesJson = System.Text.Json.JsonSerializer.Serialize(entity, new System.Text.Json.JsonSerializerOptions
							{
								WriteIndented = true
							});
						logger.LogInformation($"Entities JSON: {entitiesJson}");

						if (entity.TryGetProperty("_new_cliente_value", out var newClienteProperty))
						{
							clienteId = newClienteProperty.GetString();
							azienda = newClienteProperty.GetGuid();

							logger.LogInformation($"Entities reference: {clienteId}");
							logger.LogInformation($"Entities reference: {azienda}");
						}
						else
						{
							logger.LogWarning("Il campo 'new_cliente' non è presente nel record.");
						}
					}
					else
					{
						logger.LogWarning("Nessun record trovato per l'email fornita.");
					}
				}
				else
				{
					logger.LogError($"Errore durante il recupero del cliente: {response.ReasonPhrase}");
				}
			}

			else
			{
				logger.LogError("Errore di autenticazione durante il caricamento del cliente.");
			}
		}
		catch(Exception ex)
		{
			logger.LogError($"Eccezione durante il caricamento del cliente: {ex.Message}");
		}
	}

	private string BuildAziendaFetchXml(string email)
	{
		return $@"
        <fetch>
          <entity name='new_emailautorizzazioniprv'>
            <attribute name='new_cliente' />
            <filter>
              <condition attribute='new_email' operator='eq' value='{email}' />
            </filter>
          </entity>
        </fetch>";
	}

	private async Task CaricaSede()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();

		var fetchXml = BuildSedeFetchXml(userEmail);

		if (tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");

			var request = new HttpRequestMessage()
				{
					Method = HttpMethod.Get,
					RequestUri = new Uri($"{client.BaseAddress}new_sedeprvs?fetchXml={Uri.EscapeDataString(fetchXml)}")
				};

			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

			var response = await client.SendAsync(request);
			if(response.IsSuccessStatusCode)
			{
				sedi = await response.Content.ReadFromJsonAsync<SedeCollection>();
			}
			else
			{
				await DialogService.ShowMessageBox("Errore", "An error occured in the first request.");
				logger.LogError($"Error fetching data: {response.ReasonPhrase}");
				return;
			}
		}
		else
		{
			await DialogService.ShowMessageBox("Errore", "There was a problem authenticating.");
		}
	}

	private string BuildSedeFetchXml(string email)
	{
		return 
		$@"<fetch>
			<entity name='new_sedeprv'>
				<attribute name='new_localita' />
				<attribute name='cr4f9_provincia' />
				<attribute name='new_indirizzo' />
				<attribute name='cr4f9_cap' />
				<attribute name='cr4f9_descrizionesede' />
				<attribute name='new_emailresponsabile' />
				<filter>
					<condition attribute='new_cliente' operator='eq' value='{azienda}' />
				</filter>
				<filter>
				    <condition attribute='new_sedeprvid' operator='eq' value='{id}' />
				</filter>
			<link-entity name='cr4f9_clienteprv' from='cr4f9_clienteprvid' to='new_cliente' link-type='inner' alias='Cliente'>
				<attribute name='cr4f9_ragionesociale' />
			</link-entity>
			</entity>
		</fetch>";
	}

	public async Task CaricaMansioni()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		var fetchXml = BuildMansioniFetchXml();

		if (tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");

			// Usare l'endpoint dell'entità radice (new_sedeprvs) perché il fetch XML è basato su "new_sedeprv"
			var request = new HttpRequestMessage()
				{
					Method = HttpMethod.Get,
					RequestUri = new Uri($"{client.BaseAddress}new_sedeprvs?fetchXml={Uri.EscapeDataString(fetchXml)}")
				};

			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

			var response = await client.SendAsync(request);
			if (response.IsSuccessStatusCode)
			{
				mansioni = await response.Content.ReadFromJsonAsync<MansioneCollection>();
			}
			else
			{
				await DialogService.ShowMessageBox("Errore", "An error occured in the mansioni request.");
				logger.LogError($"Error fetching mansioni data: {response.ReasonPhrase}");
				return;
			}
		}
		else
		{
			await DialogService.ShowMessageBox("Errore", "There was a problem authenticating");
		}
	}

	private string BuildMansioniFetchXml()
	{
		return $@"
				<fetch>
				  <entity name='new_sedeprv'>
					<filter>
					  <condition attribute='new_cliente' operator='eq' value='{azienda}' />
					</filter>
					<filter>
					  <condition attribute='new_sedeprvid' operator='eq' value='{id}' />
					</filter>
					<link-entity name='cr4f9_new_sedeprv_new_mansionetabellamaster' from='new_sedeprvid' to='new_sedeprvid' link-type='inner' alias='Mansione'>
					  <link-entity name='new_mansionetabellamaster' from='new_mansionetabellamasterid' to='new_mansionetabellamasterid' link-type='inner' alias='MansioniSede'>
						<attribute name='new_mansione' />
					  </link-entity>
					</link-entity>
				  </entity>
				</fetch>";
	}

	public async Task CaricaLavoratori()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		var fetchXml = BuildLavoratoriFetchXml();

		if(tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");

			var request = new HttpRequestMessage()
				{
					Method = HttpMethod.Get,
					RequestUri = new Uri($"{client.BaseAddress}new_lavorapressoprvs?fetchXml={Uri.EscapeDataString(fetchXml)}")
				};

			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

			var response = await client.SendAsync(request);
			if(response.IsSuccessStatusCode)
			{
				lavoratori = await response.Content.ReadFromJsonAsync<LavoratoreCollection>();
			}
			else
			{
				await DialogService.ShowMessageBox("Errore", "An error occured in the first request.");
				logger.LogError($"Error fetching data: {response.ReasonPhrase}");
				return;
			}
		}
		else
		{
			await DialogService.ShowMessageBox("Errore", "There was a problem authenticating");
		}

	}

	private string BuildLavoratoriFetchXml()
	{
		return $@"
				<fetch>
				  <entity name='new_lavorapressoprv'>
                    <attribute name='cr4f9_inforza' />
					<filter>
					  <condition attribute='new_sede' operator='eq' value='{id}' />
					</filter>
					<link-entity name='cr4f9_contattoprv' from='cr4f9_contattoprvid' to='new_lavoratore' link-type='inner' alias='Lavoratore'>
					  <attribute name='cr4f9_calcolonomeecognome' />
					  <attribute name='cr4f9_contattoprvid' />
					</link-entity>
					<link-entity name='new_mansionetabellamaster' from='new_mansionetabellamasterid' to='cr4f9_mansione' link-type='inner' alias='Mansione'>
					  <attribute name='new_mansione' />
					</link-entity>
				  </entity>
				</fetch>";
	}

	public async Task CaricaMacchinariedImpianti()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		var fetchXml = BuildMacchinariEdImpiantiXml();

		if(tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");

			var request = new HttpRequestMessage()
				{
					Method = HttpMethod.Get,
					RequestUri = new Uri($"{client.BaseAddress}cr4f9_macchinarioimpiantofisicos?fetchXml={Uri.EscapeDataString(fetchXml)}")
				};

			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

			var response = await client.SendAsync(request);
			if(response.IsSuccessStatusCode)
			{
				macchinariEdImpianti = await response.Content.ReadFromJsonAsync<MacchinariEdImpiantiCollection>();
			}
			else
			{
				await DialogService.ShowMessageBox("Errore", "An error occured.");
				logger.LogError($"Error fetching data: {response.ReasonPhrase}");
			}
		}
		else
		{
			await DialogService.ShowMessageBox("Errore", "There was a problem authenticating.");
		}
	}

	private string BuildMacchinariEdImpiantiXml()
	{
		return $@"
				<fetch>
					<entity name='cr4f9_macchinarioimpiantofisico'>
					<attribute name='cr4f9_nome' />
					<attribute name='cr4f9_matricola' />
					<filter>
						<condition attribute='cr4f9_sede' operator='eq' value='{id}' />
					</filter>
					<link-entity name='cr4f9_macchinarioeimpianto' from='cr4f9_macchinarioeimpiantoid' to='cr4f9_tipologiadimacchinariooimpianto' link-type='inner' alias='Tipologia'>
						<attribute name='cr4f9_tipologia' />
					</link-entity>
					<link-entity name='new_sedeprv' from='new_sedeprvid' to='cr4f9_sede' link-type='inner' alias='Sede'>
						<filter>
						<condition attribute='new_cliente' operator='eq' value='{azienda}' />
						</filter>
					</link-entity>
					</entity>
				</fetch>";
	}

	public async Task CaricaTestateDocmunetiSede()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		var fetchXml = BuildTestataDocumentiFetchXml();

		if(tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");

			var request = new HttpRequestMessage()
				{
					Method = HttpMethod.Get,
					RequestUri = new Uri($"{client.BaseAddress}cr4f9_testatadocumentosedes?fetchXml={Uri.EscapeDataString(fetchXml)}")
				};

			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

			var response = await client.SendAsync(request);
			if(response.IsSuccessStatusCode)
			{
				testate = await response.Content.ReadFromJsonAsync<TestataCollection>();
			}
			else
			{
				await DialogService.ShowMessageBox("Errore", "An error occured.");
				logger.LogError($"Error fetching data: {response.ReasonPhrase}");
			}
		}
		else
		{
			await DialogService.ShowMessageBox("Errore", "There was a problem authenticating.");
		}
	}

	private string BuildTestataDocumentiFetchXml()
	{
		return $@"
			<fetch>
			  <entity name='cr4f9_testatadocumentosede'>
				<attribute name='cr4f9_testatadocumentosedeid' />
				<attribute name='cr4f9_name' />
				<attribute name='cr4f9_nomedocumentosede' />
				<attribute name='cr4f9_email' />
				<attribute name='cr4f9_noteareatesto' />
				<filter>
				  <condition attribute='cr4f9_sede' operator='eq' value='{id}' />
				</filter>
			  </entity>
			</fetch>";
	}

	public async Task CaricaScadenzeDocumenti()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		var fetchXml = BuildScadenzeDocumentiSedeXml();

		if (tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");
			var request = new HttpRequestMessage()
				{
					Method = HttpMethod.Get,
					RequestUri = new Uri($"{client.BaseAddress}cr4f9_cartelladocumentosedes?fetchXml={Uri.EscapeDataString(fetchXml)}")
				};
			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

			var response = await client.SendAsync(request);
			if(response.IsSuccessStatusCode)
			{
				scadenzeDocumenti = await response.Content.ReadFromJsonAsync<ScadenzeDocumentiCollection>();
			}
			else
			{
				await DialogService.ShowMessageBox("Errore", "An error occured in the first request.");
				logger.LogError($"Documenti-Error fetching data: {response.ReasonPhrase}");
				return;
			}
		}
		else
		{
			await DialogService.ShowMessageBox("Errore", "There was a problem authenticating.");
		}
	}

	private string BuildScadenzeDocumentiSedeXml()
	{
		return $@"
		<fetch>
		  <entity name='cr4f9_cartelladocumentosede'>
			<attribute name='cr4f9_nomecartella' />
			<attribute name='cr4f9_datascadenza' />
			<link-entity name='cr4f9_testatadocumentosede' from='cr4f9_testatadocumentosedeid' to='cr4f9_testatadocumentosede' link-type='inner' alias='Testata'>
			  <attribute name='cr4f9_testatadocumentosedeid' alias = 'TestataId'/>
			  <filter>
				<condition attribute='cr4f9_sede' operator='eq' value='{id}' />
			  </filter>
			</link-entity>
		  </entity>
		</fetch>";
	}

	public async Task CaricaDpi()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		var fetchXml = BuildDpiSedeXml();

		if (tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");

			var request = new HttpRequestMessage()
				{
					Method = HttpMethod.Get,
					RequestUri = new Uri($"{client.BaseAddress}cr4f9_dpifisicos?fetchXml={Uri.EscapeDataString(fetchXml)}")
				};

			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

			var response = await client.SendAsync(request);
			if (response.IsSuccessStatusCode)
			{
				var responseBody = await response.Content.ReadAsStringAsync();
				logger.LogInformation("RESPONSE BODY: " + responseBody);

				dpis = await response.Content.ReadFromJsonAsync<DpiCollection>();
			}
			else
			{
				await DialogService.ShowMessageBox("Errore", "An error occured while fetching data.");
				logger.LogError($"Error fetching data: {response.StatusCode}");
			}
		}
		else
		{
			await DialogService.ShowMessageBox("Errore", "There was a problem authenticating.");
		}
	}

	private string BuildDpiSedeXml()
	{
		return $@"
    <fetch>
      <entity name='cr4f9_dpifisico'>
        <attribute name='cr4f9_dpifisicoid' />
        <attribute name='cr4f9_matricoladispositivo' />
        <attribute name='cr4f9_nomedeldispositivofisico' />
        <attribute name='cr4f9_taglia' />
        <attribute name='createdon' />
        <attribute name='cr4f9_tipologiadpi' alias='cr4f9_tipologiadpi'/>
        <filter>
          <condition attribute='cr4f9_sededelcliente' operator='eq' value='{id}' />
        </filter>
        <link-entity name='cr4f9_tipologiadpiprv' from='cr4f9_tipologiadpiprvid' to='cr4f9_tipologiadpi' link-type='inner' alias='Tipologia'>
          <attribute name='cr4f9_tipologia' alias='Tipo' />
          <attribute name='cr4f9_duratavitamesi' alias='Durata' />
          <attribute name='cr4f9_periodicitacontrollimesi' alias='Periodicita' />
        </link-entity>
        <link-entity name='new_sedeprv' from='new_sedeprvid' to='cr4f9_sededelcliente' link-type='inner' alias='Sede'>
          <attribute name='new_localita' alias='Localita'/>
          <attribute name='new_sedeprvid' alias='IdSede'/>
        </link-entity>
      </entity>
    </fetch>";
	}


	public async Task CaricaScadenzeControlli()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		var fetchXml = BuildScadenzeControlliMacchinariSede();

		if(tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");

			var request = new HttpRequestMessage()
				{
					Method = HttpMethod.Get,
					RequestUri = new Uri($"{client.BaseAddress}cr4f9_elencocontrollimacchinarieimpiantis?fetchXml={Uri.EscapeDataString(fetchXml)}")
				};

			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

			var response = await client.SendAsync(request);
			if (response.IsSuccessStatusCode)
			{
				scadenzeControlli = await response.Content.ReadFromJsonAsync<ScadenzeControlliCollection>();
			}
			else
			{
				await DialogService.ShowMessageBox("Errore", "An error occurred in the first request.");
				logger.LogError($"Controlli - Error fetching data: {response.ReasonPhrase}");
				return; // Termina se la prima richiesta fallisce
			}
		}
		else
		{
			await DialogService.ShowMessageBox("Errore", "There was a problem authenticating.");
		}
	}

	private string BuildScadenzeControlliMacchinariSede()
	{
		return $@"
		<fetch>
		  <entity name='cr4f9_elencocontrollimacchinarieimpianti'>
			<attribute name='cr4f9_datadiscadenza' />
			<link-entity name='cr4f9_macchinarioimpiantofisico' from='cr4f9_macchinarioimpiantofisicoid' to='cr4f9_macchinariooimpianto' link-type='inner' alias='Macchinario'>
			  <attribute name='cr4f9_matricola' alias='Matricola'/>
			  <attribute name='cr4f9_macchinarioimpiantofisicoid' alias='MacchinarioId'/>
			  <filter>
				<condition attribute='cr4f9_sede' operator='eq' value='{id}' />
			  </filter>
			  <link-entity name='cr4f9_macchinarioeimpianto' from='cr4f9_macchinarioeimpiantoid' to='cr4f9_tipologiadimacchinariooimpianto' link-type='inner' alias='Tipologia'>
				<attribute name='cr4f9_nome' alias='Nome'/>
			  </link-entity>
			</link-entity>
            <link-entity name='cr4f9_tipologiedicontrollo' from='cr4f9_tipologiedicontrolloid' to='cr4f9_controllo' link-type='inner' alias='TipoControllo'>
			  <attribute name='cr4f9_tipocontrollo' alias='Tipo'/>
			</link-entity>
		  </entity>
		</fetch>";
	}

	public async Task CaricaScadenzeCorsiInterni()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		if (tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");
			var fetchXml = BuildScadenzeCorsiInterniSede();
			var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}new_partecipazionecorsoprvs?fetchXml={Uri.EscapeDataString(fetchXml)}");
			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			var response = await client.SendAsync(request);
			if (response.IsSuccessStatusCode)
			{
				var corsiInt = await response.Content.ReadFromJsonAsync<ScadenzaCorsoIntCollection>();
				scadenzeFormazione.AddRange(corsiInt.value.Select(c => new ScadenzaGenericaLavoratore
					{
						NomeCognome = c.nomeCognome,
						DataEsecuzione = c.dataFineCorso,
						DataScadenza = c.cr4f9_scadenza,
						Titolo = c.titolo,
						TipoScadenza = "Formazione"
					}));
			}
		}
	}

	private string BuildScadenzeCorsiInterniSede()
	{
		return $@"
		<fetch>
		  <entity name='new_partecipazionecorsoprv'>
			<attribute name='cr4f9_scadenza' />
            <attribute name='new_lavoratore' />
			<link-entity name='cr4f9_corsoprv' from='cr4f9_corsoprvid' to='new_corso' link-type='inner' alias='Corso'>
			  <attribute name='cr4f9_datadifine' alias='dataFineCorso' />
			  <attribute name='cr4f9_titolocorso' alias='titolo' />
			</link-entity>
			<link-entity name='new_lavorapressoprv' from='new_lavoratore' to='new_lavoratore' alias='LavoraPresso'>
			  <filter>
				<condition attribute='new_sede' operator='eq' value='{id}' />
			  </filter>
			</link-entity>
            <link-entity name='cr4f9_contattoprv' from='cr4f9_contattoprvid' to='new_lavoratore' link-type='inner' alias='Lavoratore'>
			  <attribute name='cr4f9_nomeecognomecalcolato' alias='nomeCognome'/>
			</link-entity>
		  </entity>
		</fetch>";
	}

	public async Task CaricaScadenzeCoretiEsterni()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		if (tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");
			var fetchXml = BuildScadenzeCorsiEsterniSede();
			var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}new_partecipazioneesternaprvs?fetchXml={Uri.EscapeDataString(fetchXml)}");
			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			var response = await client.SendAsync(request);
			if (response.IsSuccessStatusCode)
			{
				var corsiEst = await response.Content.ReadFromJsonAsync<ScadenzaCorsoEstCollection>();
				scadenzeFormazione.AddRange(corsiEst.value.Select(c => new ScadenzaGenericaLavoratore
					{
						NomeCognome = c.nomeCognome,
						DataEsecuzione = c.new_data,
						DataScadenza = c.new_scadenza,
						Titolo = c.new_titolocorso,
						TipoScadenza = "Formazione"
					}));
			}
		}
	}

	private string BuildScadenzeCorsiEsterniSede()
	{
		return $@"
		<fetch>
		  <entity name='new_partecipazioneesternaprv'>
			<attribute name='new_titolocorso' />
			<attribute name='new_scadenza' />
			<attribute name='new_data' />
	        <attribute name='new_lavoratore' />
			<link-entity name='new_lavorapressoprv' from='new_lavoratore' to='new_lavoratore' link-type='inner' alias='LavoraPresso'>
			  <filter>
				<condition attribute='new_sede' operator='eq' value='{id}' />
			  </filter>
			</link-entity>
            <link-entity name='cr4f9_contattoprv' from='cr4f9_contattoprvid' to='new_lavoratore' link-type='inner' alias='Lavoratore'>
			  <attribute name='cr4f9_nomeecognomecalcolato' alias='nomeCognome'/>
			</link-entity>
		  </entity>
		</fetch>";
	}

	public async Task CaricaScadenzeVisiteSede()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		if (tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");
			var fetchXml = BuildScadenzaVisiteSede();
			var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}cr4f9_visitamedicadellavoratores?fetchXml={Uri.EscapeDataString(fetchXml)}");
			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			var response = await client.SendAsync(request);
			if (response.IsSuccessStatusCode)
			{
				var visite = await response.Content.ReadFromJsonAsync<ScadenzaVisitaCollection>();
				scadenzeVisitaMedica.AddRange(visite.value.Select(v => new ScadenzaGenericaLavoratore
					{
						NomeCognome = v.nomeCognome,
						DataEsecuzione = v.cr4f9_datavisita,
						DataScadenza = v.cr4f9_dataprossimavisita,
						Titolo = v.cr4f9_riepilogovisita,
						TipoScadenza = "Visita Medica"
					}));
			}
		}
	}

	private string BuildScadenzaVisiteSede()
	{
		return $@"
		<fetch>
		  <entity name='cr4f9_visitamedicadellavoratore'>
			<attribute name='cr4f9_riepilogovisita' />
			<attribute name='cr4f9_dataprossimavisita' />
			<attribute name='cr4f9_datavisita' />
            <attribute name='cr4f9_lavoratore' />
			<link-entity name='new_lavorapressoprv' from='new_lavoratore' to='cr4f9_lavoratore' link-type='inner' alias='LavoraPresso'>
			  <filter>
				<condition attribute='new_sede' operator='eq' value='{id}' />
			  </filter>
			</link-entity>
            <link-entity name='cr4f9_contattoprv' from='cr4f9_contattoprvid' to='cr4f9_lavoratore' link-type='inner' alias='Lavoratore'>
			  <attribute name='cr4f9_nomeecognomecalcolato' alias='nomeCognome'/>
			</link-entity>
		  </entity>
		</fetch>";
	}

	public async Task CaricaScadenzeDpiSede()
	{
		var tokenResult = await TokenProvider.RequestAccessToken();
		if (tokenResult.TryGetToken(out var token))
		{
			var client = ClientFactory.CreateClient("DataverseClient");
			var fetchXml = BuildScadenzeDpiSede();
			var request = new HttpRequestMessage(HttpMethod.Get, $"{client.BaseAddress}cr4f9_elencocontrollidpis?fetchXml={Uri.EscapeDataString(fetchXml)}");
			request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
			var response = await client.SendAsync(request);
			if (response.IsSuccessStatusCode)
			{
				var dpis = await response.Content.ReadFromJsonAsync<ScadenzaDpiCollection>();
				scadenzeControlloDPI.AddRange(dpis.value.Select(d => new ScadenzaGenericaLavoratore
					{
						NomeCognome = d.nomeCognome,
						DataEsecuzione = d.cr4f9_dataesecuzione,
						DataScadenza = d.cr4f9_datascadenzacontrollo,
						Titolo = d.Riepilogo,
						TipoScadenza = "Controllo DPI"
					}));
			}
		}
	}

	private string BuildScadenzeDpiSede()
	{
		return $@"
		<fetch>
		  <entity name='cr4f9_elencocontrollidpi'>
			<attribute name='cr4f9_datascadenzacontrollo' />
			<attribute name='cr4f9_dataesecuzione' />
			<link-entity name='cr4f9_associazionedpialavoratore' from='cr4f9_associazionedpialavoratoreid' to='cr4f9_dispositivoconsegnato' link-type='inner' alias='ConsegnaDPI'>
			  <attribute name='cr4f9_riepilogoconsegnacalculated' alias='Riepilogo'/>
              <attribute name='cr4f9_lavoratorelookup' alias='LavoratoreId'/>
			  <link-entity name='new_lavorapressoprv' from='new_lavoratore' to='cr4f9_lavoratorelookup' link-type='inner' alias='LavoraPresso'>
				<filter>
				  <condition attribute='new_sede' operator='eq' value='{id}' />
				</filter>
			  </link-entity>
              <link-entity name='cr4f9_contattoprv' from='cr4f9_contattoprvid' to='cr4f9_lavoratorelookup' link-type='inner' alias='Lavoratore'>
				<attribute name='cr4f9_nomeecognomecalcolato' alias='nomeCognome' />
			  </link-entity>
			</link-entity>
		  </entity>
		</fetch>";
	}

	private async Task ToggleEdit()
	{
		if (!editMode)
		{
			editMode = true;
			return;
		}

		// SALVATAGGIO
		isSaving = true;
		saveError = null;

		try
		{
			await SalvaModifiche();
			editMode = false;
		}
		catch (Exception ex)
		{
			saveError = ex.Message;
			// opzionale: Snackbar se vuoi feedback immediato
			Snackbar.Add("Errore durante il salvataggio.", Severity.Error);
		}
		finally
		{
			isSaving = false;
		}
	}


	private async Task SalvaModifiche()
	{
		try
		{
			var tokenResult = await TokenProvider.RequestAccessToken();

			if (tokenResult.TryGetToken(out var token))
			{
				var client = ClientFactory.CreateClient("DataverseClient");

				var sedeAggiornata = new
				{
					new_localita = sedi.value[0].new_localita,
					cr4f9_provincia = sedi.value[0].cr4f9_provincia,
					new_indirizzo = sedi.value[0].new_indirizzo,
					cr4f9_cap = sedi.value[0].cr4f9_cap,
					cr4f9_descrizionesede = sedi.value[0].cr4f9_descrizionesede,
					new_emailresponsabile = sedi.value[0].new_emailresponsabile
				};

				var request = new HttpRequestMessage(new HttpMethod("PATCH"), $"{client.BaseAddress}new_sedeprvs({id})")
					{
						Content = JsonContent.Create(sedeAggiornata)
					};
				request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);

				var response = await client.SendAsync(request);
				if(response.IsSuccessStatusCode)
				{
					logger.LogInformation("Modifiche salvate correttamente.");
				}
				else
				{
					logger.LogError($"Errore durante il salvataggio delle modifiche: {response.ReasonPhrase}");
				}
			}
			else
			{
				logger.LogError($"Errore di autenticazione durante il salvataggio delle modifiche.");
			}
		}
		catch (Exception ex)
		{
			logger.LogError($"Eccezione durante il salvataggio: {ex.Message}");
		}
	}

	private void AggregaScadenze()
	{
		if ( scadenzeControlli?.value != null)
		{
			foreach (var controllo in scadenzeControlli.value)
			{
				scadenzeGeneriche.Add(new ScadenzaGenerica
					{
						DataScadenza = controllo.cr4f9_datadiscadenza,
						Titolo = controllo.Tipo + " - " + controllo.Matricola,
						TipoScadenza = "Controllo",
						Riferimento = controllo.MacchinarioId
					});
			}
		}

		if (scadenzeDocumenti?.value != null)
		{
			foreach (var documento in scadenzeDocumenti.value)
			{
				scadenzeGeneriche.Add(new ScadenzaGenerica
					{
						DataScadenza = documento.cr4f9_datascadenza,
						Titolo = documento.cr4f9_nomecartella,
						TipoScadenza = "Documento",
						Riferimento = documento.TestataId
					});
			}
		}

		scadenzeGeneriche = scadenzeGeneriche.OrderBy(s => s.DataScadenza).ToList();
	}

	private Task OpenDialogAsync()
	{
		var parameters = new DialogParameters();
		parameters.Add("id", id);

		logger.LogInformation($"Parametro id inviato :{id}");

		var options = new DialogOptions
			{
				CloseOnEscapeKey = true,
				FullWidth = false,              // Impedisce al dialog di occupare tutta la larghezza della pagina
				MaxWidth = MaxWidth.Medium       // Imposta una larghezza massima ragionevole (puoi usare anche Small, Large, ecc.)
			};
		return DialogService.ShowAsync<AddLavoratoreSede>("Simple Dialog", parameters, options);
	}

	private Task OpenDialogAsyncMacchinario()
	{
		var parameters = new DialogParameters();
		parameters.Add("id", id);

		logger.LogInformation($"Parametro id inviato :{id}");

		var options = new DialogOptions
			{
				CloseOnEscapeKey = true,
				FullWidth = false,              // Impedisce al dialog di occupare tutta la larghezza della pagina
				MaxWidth = MaxWidth.Medium       // Imposta una larghezza massima ragionevole (puoi usare anche Small, Large, ecc.)
			};
		return DialogService.ShowAsync<AddMacchinarioSede>("Simple Dialog", parameters, options);
	}

	private Task OpenDialogAsyncDocumento()
	{
		var parameters = new DialogParameters();
		parameters.Add("id", id);

		logger.LogInformation($"Parametro id inviato :{id}");

		var options = new DialogOptions
			{
				CloseOnEscapeKey = true,
				FullWidth = false,              // Impedisce al dialog di occupare tutta la larghezza della pagina
				MaxWidth = MaxWidth.Medium       // Imposta una larghezza massima ragionevole (puoi usare anche Small, Large, ecc.)
			};
		return DialogService.ShowAsync<AddTestataDettaglioSede>("Simple Dialog", parameters, options);
	}

	private Task OpenDialogAsyncMansione()
	{
		var parameters = new DialogParameters();
		parameters.Add("id", id);

		logger.LogInformation($"Parametro id inviato :{id}");

		var options = new DialogOptions
			{
				CloseOnEscapeKey = true,
				FullWidth = false,              // Impedisce al dialog di occupare tutta la larghezza della pagina
				MaxWidth = MaxWidth.Medium       // Imposta una larghezza massima ragionevole (puoi usare anche Small, Large, ecc.)
			};
		return DialogService.ShowAsync<AddMansioneSede>("Simple Dialog", parameters, options);
	}


	private string ExtractNumber(string nome)
	{
		var match = System.Text.RegularExpressions.Regex.Match(nome, @"-(\d+)$");
		return match.Success ? match.Groups[1].Value : string.Empty;
	}

	private string GetRowClass(ScadenzaGenerica scadenza)
	{
		return scadenza.TipoScadenza switch
		{
			"Controllo" => "row-controllo",
			"Documento" => "row-documento",
			_ => string.Empty
		};
	}

	private void GoBack()
	{
		// Utilizza la navigazione per tornare indietro nella cronologia
		NavigationManager.NavigateTo("javascript:history.back()");
	}

	private bool WorkerFilter(ScadenzaGenericaLavoratore item)
	{
		bool ok = true;

		// filtro titolo
		if (!string.IsNullOrWhiteSpace(filterTitolo))
			ok &= item.Titolo?.Contains(filterTitolo, StringComparison.OrdinalIgnoreCase) == true;

		// filtro tipo
		if (filterTipoScadenza != "all")
			ok &= item.TipoScadenza == filterTipoScadenza;

		// filtro data esecuzione
		if (execDateFrom.HasValue)
			ok &= item.DataEsecuzione >= execDateFrom.Value;
		if (execDateTo.HasValue)
			ok &= item.DataEsecuzione <= execDateTo.Value.AddDays(1);

		// filtro data scadenza
		if (dueDateFrom.HasValue)
			ok &= item.DataScadenza >= dueDateFrom.Value;
		if (dueDateTo.HasValue)
			ok &= item.DataScadenza <= dueDateTo.Value.AddDays(1);

		return ok;
	}

	private void ResetWorkerFilters()
	{
		filterTitolo = "";
		filterTipoScadenza = "all";
		execDateFrom = execDateTo = dueDateFrom = dueDateTo = null;
	}

	private async Task StampaSelezionati()
	{
		var ids = selectedItems.Select(d => d.cr4f9_dpifisicoid);
		logger.LogInformation("ID selezionati: " + string.Join(", ", ids));
		await Task.CompletedTask;
	}

	private async Task ApriDialog()
	{
		if (selectedItems == null || !selectedItems.Any())
		{
			Snackbar.Add("Seleziona almeno un DPI da consegnare.", Severity.Warning);
			return;
		}

		var parameters = new DialogParameters
	{
		{ "SelectedDpi", selectedItems.ToList() }
	};
		var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium };
		DialogService.Show<AddTestataConsegneSede>("Nuova Consegna", parameters, options);
	}


	public class Sede
	{
		public string new_localita { get; set; }
		public string cr4f9_provincia { get; set; }
		public string new_indirizzo { get; set; }
		public string cr4f9_cap { get; set; }
		public string cr4f9_descrizionesede { get; set; }
		public string new_emailresponsabile { get; set; }

		[JsonPropertyName("Cliente.cr4f9_ragionesociale")]
		public string cr4f9_ragionesociale { get; set; }
	}

	public class SedeCollection
	{
		public Sede[] value { get; set; }
	}

	public class Mansione
	{
		[JsonPropertyName("MansioniSede.new_mansione")]
		public string new_mansione { get; set; }
	}

	public class MansioneCollection
	{
		public Mansione[] value { get; set; }
	}

	public class Lavoratore
	{
		public bool cr4f9_inforza { get; set; }
		[JsonPropertyName("Lavoratore.cr4f9_calcolonomeecognome")]
		public string cr4f9_calcolonomeecognome { get; set; }

		[JsonPropertyName("Lavoratore.cr4f9_contattoprvid")]
		public string cr4f9_contattoprvid { get; set; }

		[JsonPropertyName("Mansione.new_mansione")]
		public string new_mansione { get; set; }

	}

	public class LavoratoreCollection
	{
		public Lavoratore[] value { get; set; }
	}

	public class MacchinariEdImpianti
	{
		public string cr4f9_nome { get; set; }

		public string cr4f9_matricola { get; set; }

		[JsonPropertyName("Tipologia.cr4f9_tipologia")]
		public int cr4f9_tipologia { get; set; }

		public string TipologiaDescrizione =>
		cr4f9_tipologia switch
		{
			644840000 => "IMPIANTO FOTOVOLTAICO",
			644840001 => "ROBOT INCISIVO",
			_ => "Tipo sconosciuto"
		};
	}

	public class MacchinariEdImpiantiCollection
	{
		public MacchinariEdImpianti[] value { get; set; }
	}

	public class TestataDocumentiSede
	{
		public Guid? cr4f9_testatadocumentosedeid { get; set; }
		public string cr4f9_name { get; set; }
		public string cr4f9_nomedocumentosede { get; set; }
		public string cr4f9_email { get; set; }
		public string cr4f9_notedocumento { get; set; }
	}

	public class TestataCollection
	{
		public TestataDocumentiSede[] value { get; set; }
	}

	public class Dpi
	{
		public Guid? cr4f9_dpifisicoid { get; set; }
		public string cr4f9_matricoladispositivo { get; set; }
		public string cr4f9_nomedeldispositivofisico { get; set; }
		public string cr4f9_taglia { get; set; }
		public DateTime createdon { get; set; }

		// Se il JSON usa alias diversi, aggiungi JsonPropertyName; esempio:
		[JsonPropertyName("_cr4f9_tipologiadpi_value")]
		public string cr4f9_tipologiadpi { get; set; }

		public string Tipo { get; set; }
		public int Durata { get; set; }
		public int Periodicita { get; set; }
		public string Localita { get; set; }
		public string IdSede { get; set; }
	}


	public class DpiCollection
	{
		public Dpi[] value { get; set; }
	}

	public class ScadenzaDocumenti()
	{
		public string cr4f9_nomecartella { get; set; }
		public DateTime cr4f9_datascadenza { get; set; }
		public string TestataId { get; set; }
	}

	public class ScadenzeDocumentiCollection()
	{
		public ScadenzaDocumenti[] value { get; set; }
	}

	public class ScadenzaControlli()
	{
		public DateTime cr4f9_datadiscadenza { get; set; }
		public string MacchinarioId { get; set; }
		public string Matricola { get; set; }
		public string Nome { get; set; }
		public string Tipo { get; set; }
	}

	public class ScadenzeControlliCollection()
	{
		public ScadenzaControlli[] value { get; set; }
	}

	public class ScadenzaGenerica
	{
		public DateTime DataScadenza { get; set; }
		public string Titolo { get; set; }
		public string TipoScadenza { get; set; }
		public string Riferimento { get; set; }
	}

	public class ScadenzaCorsoInt
	{
		public DateTime? cr4f9_scadenza { get; set; }
		public string new_lavoratore { get; set; }
		public DateTime? dataFineCorso { get; set; }
		public string titolo { get; set; }
		public string nomeCognome { get; set; }

	}

	public class ScadenzaCorsoIntCollection
	{
		public ScadenzaCorsoInt[] value { get; set; }
	}

	public class ScadenzaCorsoEst
	{
		public string new_titolocorso { get; set; }
		public DateTime? new_scadenza { get; set; }
		public DateTime? new_data { get; set; }
		public string new_lavoratore { get; set; }
		public string nomeCognome { get; set; }
	}

	public class ScadenzaCorsoEstCollection
	{
		public ScadenzaCorsoEst[] value { get; set; }
	}

	public class ScadenzaVisita
	{
		public string cr4f9_riepilogovisita { get; set; }
		public DateTime? cr4f9_dataprossimavisita { get; set; }
		public DateTime? cr4f9_datavisita { get; set; }
		public string cr4f9_lavoratore { get; set; }
		public string nomeCognome { get; set; }
	}

	public class ScadenzaVisitaCollection
	{
		public ScadenzaVisita[] value { get; set; }
	}

	public class ScadenzaDpi
	{
		public DateTime? cr4f9_datascadenzacontrollo { get; set; }
		public DateTime? cr4f9_dataesecuzione { get; set; }
		public string Riepilogo { get; set; }
		public string LavoratoreId { get; set; }
		public string nomeCognome { get; set; }
	}

	public class ScadenzaDpiCollection
	{
		public ScadenzaDpi[] value { get; set; }
	}

	public class ScadenzaGenericaLavoratore
	{
		public DateTime? DataScadenza { get; set; }
		public DateTime? DataEsecuzione { get; set; }
		public string Titolo { get; set; }
		public string TipoScadenza { get; set; }
		public string LavoratoreId { get; set; }
		public string NomeCognome { get; set; }
	}


}

