@page "/visitemediche"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Microsoft.Extensions.Logging
@using System.Text.Json.Serialization
@inject IAccessTokenProvider TokenProvider
@inject IHttpClientFactory ClientFactory
@inject ILogger<FetchSedi> logger
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

<AuthorizeView>
    <Authorized>

        <h3>Visite Mediche</h3>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Style="color=#E53935;" @onclick="OpenDialogAsync">Nuova visita medica</MudButton>
        @if (visite != null)
        {
            <div class="folder-container">
                <div class="folder-tab">Elenco Visite Mediche</div>

                <MudTable Items="visite.value" Dense="true" HeaderClass="mud-table-header" Hover="true">
                    <HeaderContent>
                        <MudTh>Riepilogo visita</MudTh>
                        <MudTh>Data visita</MudTh>
                        <MudTh>Data prossima visita</MudTh>
                        <MudTh>Tipologia visita</MudTh>
                        <MudTh>Esito visita</MudTh>
                    </HeaderContent>
                    <RowTemplate Context="visitaMedica">
                        <MudLink DataLabel="riepilogo" Href="@($"/dettagliovisita/id={visitaMedica.cr4f9_visitamedicadellavoratoreid}")">
                            @visitaMedica.cr4f9_riepilogovisita
                        </MudLink>
                        <MudTd DataLabel="datavisita">@visitaMedica.checkDate</MudTd>
                        <MudTd DataLabel="dataprossimavisita">@visitaMedica.nextCheckDate</MudTd>
                        <MudTd DataLabel="tipologiavisita">@visitaMedica.TipologiaDescrizione</MudTd>
                        <MudTd DataLabel="esitovisita">@visitaMedica.EsitoDescrizione</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{10, 20}" />
                    </PagerContent>
                </MudTable>
            </div>
        }
        else
        {
            <MudProgressCircular Color="Color.Default" Indeterminate="true" />
        }
    </Authorized>
    <NotAuthorized>
        <h3>Authentication Failure!</h3>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private VisitaCollection visite;
    private string message = "Loading...";

    // Variabili per le informazioni dell'utente autenticato
    private string userName;
    private string userEmail;

    // Definire la query FetchXML, ma senza email statica
    private string fetchXmlQuery;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserInformation(); // Chiama il metodo per caricare le informazioni dell'utente

        // Costruisci dinamicamente la query FetchXML
        fetchXmlQuery = $@"
        <fetch>
            <entity name='cr4f9_visitamedicadellavoratore'>
                <link-entity name='cr4f9_contattoprv' from='cr4f9_contattoprvid' to='cr4f9_lavoratore' alias='contatto'>
                    <link-entity name='new_lavorapressoprv' from='new_lavoratore' to='cr4f9_contattoprvid' alias='lavoraPresso'>
                        <link-entity name='cr4f9_clienteprv' from='cr4f9_clienteprvid' to='new_azienda' alias='cliente'>
                            <link-entity name='new_emailautorizzazioniprv' from='new_cliente' to='cr4f9_clienteprvid' alias='emailAuth'>
                                <filter>
                                    <condition attribute='new_email' operator='eq' value='{userEmail}' />
                                </filter>
                            </link-entity>
                        </link-entity>
                    </link-entity>
                </link-entity>
            </entity>
        </fetch>";

        var tokenResult = await TokenProvider.RequestAccessToken();
        if (tokenResult.TryGetToken(out var token))
        {
            var client = ClientFactory.CreateClient("DataverseClient");

            var request = new HttpRequestMessage()
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri($"{client.BaseAddress}cr4f9_visitamedicadellavoratores?fetchXml={Uri.EscapeDataString(fetchXmlQuery)}")
                    // RequestUri = new Uri($"{client.BaseAddress}cr4f9_contattoprvs?$top=100")
                };

            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token.Value);
            request.Headers.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            var response = await client.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                visite = await response.Content.ReadFromJsonAsync<VisitaCollection>();
                logger.LogInformation($"Visita: {visite.value}");
            }
            else
            {
                message = "An error occurred.";
                logger.LogError($"Error fetching data: {response.ReasonPhrase}");
            }
        }
        else
        {
            message = "There was a problem authenticating.";
        }
    }

    // Metodo per caricare le informazioni sull'utente
    private async Task LoadUserInformation()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;
            userEmail = user.FindFirst(c => c.Type == "preferred_username")?.Value;

            logger.LogInformation("USER EMAIL: " + userEmail);
        }
    }

    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<AddVisitaMedica>("Simple Dialog", options);
    }

    public class Visita
    {
        public Guid cr4f9_visitamedicadellavoratoreid { get; set; }
        public string cr4f9_riepilogovisita { get; set; }
        public DateTime cr4f9_datavisita { get; set; }
        public DateTime cr4f9_dataprossimavisita { get; set; }

        public int cr4f9_tipologiadivisita { get; set; }

        public int cr4f9_esitodellavisita { get; set; }

        public TipologiaVisita Tipologia
        {
            get => (TipologiaVisita)cr4f9_tipologiadivisita;
            set => cr4f9_tipologiadivisita = (int)value;
        }

        public string TipologiaDescrizione => Tipologia switch
        {
            TipologiaVisita.Preassuntiva => "Preassuntiva",
            TipologiaVisita.Periodica => "Periodica",
            TipologiaVisita.SuRichiesta => "Su richiesta",
            TipologiaVisita.Rientro => "Rientro da malattia/infortunio",
            TipologiaVisita.Fine => "Fine rapporto",
            _ => "Sconosciuto"
        };

        public EsitoVisita Esito
        {
            get => (EsitoVisita)cr4f9_esitodellavisita;
            set => cr4f9_esitodellavisita = (int)value;
        }

        public string EsitoDescrizione => Esito switch
        {
            EsitoVisita.Idoneo => "Idoneo",
            EsitoVisita.IdoneoConPrescrizioni => "Idoneo con prescrizioni",
            EsitoVisita.IdoneoConLimitazioni => "Idoneo con limitazioni",
            EsitoVisita.NonIdoneoTemporanemante => "Non idoneo temporaneamente",
            EsitoVisita.NonIdoneoPermanentemente => "Non idoneo permanentemente"
        };

        public string checkDate => cr4f9_datavisita.ToString("dd/MM/yyyy");
        public string nextCheckDate => cr4f9_dataprossimavisita.ToString("dd/MM/yyyy");
    }


    public class VisitaCollection
    {
        public Visita[] value { get; set; }
    }

    public enum TipologiaVisita
    {
        Preassuntiva = 644840000,
        Fine = 644840004,
        Periodica = 644840001,
        SuRichiesta = 644840002,
        Rientro = 644840003  
    }

    public enum EsitoVisita
    {
        Idoneo = 644840000,
        IdoneoConPrescrizioni = 644840004,
        IdoneoConLimitazioni = 644840001,
        NonIdoneoTemporanemante = 644840002,
        NonIdoneoPermanentemente = 644840003
    }

}

<style>

    /* Contenitore principale della tabella */
    .folder-container {
        position: relative;
        background-color: #f0f0f0;
        border: 2px solid #E53935;
        border-radius: 8px;
        padding: 16px;
        margin-top: 50px;
    }

    /* Tabella principale */
    .mud-table {
        width: 100%; /* Assicurati che la tabella occupi tutta la larghezza disponibile */
        border-radius: 8px;
        border-collapse: collapse; /* Per una gestione più uniforme dei bordi */
    }

    /* Tabella intestazione */
    .mud-table-header {
        background-color: #E53935;
    }

        .mud-table-header .mud-table-cell {
            color: white !important;
            font-weight: bold; /* Grassetto per l'intestazione */
        }

    /* Righe della tabella */
    .mud-table-row {
        border-bottom: 1px solid #e0e0e0; /* Bordo tra le righe */
    }

    /* Celle della tabella (MudTd) */
    .mud-table .mud-td, .mud-table .mud-th {
        border-bottom: 1px solid #e0e0e0; /* Bordo tra le celle */
        padding: 8px; /* Padding per le celle */
        vertical-align: middle; /* Allinea verticalmente il contenuto */
        text-align: center; /* Centra il testo */
    }

    /* Colore dei link nella tabella */
    .mud-table .mud-link.mud-typography.mud-primary-text {
        font-size: 0.875rem;
        color: #757575 !important;
        font-weight: bold;
        display: block;
        text-align: center;
    }

    /* Hover sui link */
    .mud-table .mud-link.mud-typography.mud-primary-text:hover {
        color: red !important;
        cursor: pointer;
    }

    /* Contenitore della tabella */
    .folder-tab {
        position: absolute;
        top: -25px;
        left: 20px;
        background-color: #E53935;
        color: white;
        padding: 6px 16px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-weight: bold;
    }

    /* Nascondi informazioni di paginazione */
    .mud-table-pagination-information {
        display: none;
    }


</style>